@use '../../../styles/settings';
@use '../../../styles/tools';

// Blocks
.ve-select {
  $root: &;

  // Elements
  &__selections {
    padding: 4px !important;
  }

  // InputControl
  .ve-input-control,
  .ve-input-control__input {
    cursor: pointer;
  }

  @at-root {
    // InputControlAppendInner
    .ve-input-control__append-inner {
      transition: .3s settings.$standard-easing;

      #{$root}--active-menu & {
        transform: rotate(180deg);
      }
    }
  }
}