@use '../../../styles/settings';
@use '../../../styles/tools';

// Blocks
.ve-select {
  $root: &;

  // Elements
  &__item--pendding.ve-list-item {
    .ve-list-item__overlay {
      visibility: visible;
      background-color: rgb(var(--ve-theme-on-surface));
      opacity: calc(var(--ve-activated-opacity) * var(--ve-theme-overlay-multiplier));
    }
  }

  &__selections {
    padding-left: 12px !important;
    width: 100%;
  }

  &__tag-input {
    margin: 3px 6px 3px 0;
    max-width: 100%;
    outline: none;
    position: relative;
    vertical-align: bottom;
    overflow: hidden;

    > input {
      padding: 0 !important;
    }
  }

  * + &__tag-input {
    margin-inline-start: 0;
  }

  &__tag-input-mirror {
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    user-select: none;
    visibility: hidden;
    white-space: pre;
    width: 0 !important;
  }

  // FormControlControl
  .ve-form-control__control {
    height: auto;
    min-height: var(--ve-control-height);
  }

  // InputControl
  .ve-input-control,
  .ve-input-control__input {
    cursor: pointer;
  }

  // InputControlAppendInner
  .ve-input-control--dirty:hover .ve-input-control__clearable + .ve-input-control__append-inner {
    display: none;
  }

  .ve-input-control__append-inner .ve-icon {
    opacity: var(--ve-medium-emphasis-opacity);
  }

  &--active-menu .ve-input-control__append-inner .ve-icon {
    transform: rotate(180deg);
  }

  .ve-select__selections + .ve-native-control {
    padding-inline-start: 0;
  }
}