@use '../settings/borders' as *;

@mixin use-border(
  $color: $border-color,
  $style: $border-style,
  $width: 0,
  $thin-width: thin,
  $important: false
) {
  border-color: $color if($important, !important, null);
  border-style: $style if($important, !important, null);
  border-width: $width if($important, !important, null);

  @if $thin-width {
    &--border {
      border-width: $thin-width;
      box-shadow: none;
    }
  }
}