@mixin background-color($color) {
  @if (type-of($color) == list) {
    color: nth($color, 2) !important;
    $color: nth($color, 1);
  }
  background-color: $color !important;
  border-color: $color !important;
}

@mixin text-color($color) {
  @if (type-of($color) == list) {
    $color: nth($color, 1);
  }
  color: $color !important;
  caret-color: $color !important;
}

@mixin color($name, $color) {
  .bg-#{$name} {
    @include background-color($color);
  }

  .text-#{$name} {
    @include text-color($color);
  }
}