@use 'sass:map';
@use '../settings/states' as *;

@mixin states($selector: '&::before', $active: true) {
  &:hover #{$selector} {
    visibility: visible;
    opacity: calc(var(--ve-hover-opacity) * var(--ve-theme-overlay-multiplier));
  }

  &:focus-visible #{$selector} {
    visibility: visible;
    opacity: calc(var(--ve-focus-opacity) * var(--ve-theme-overlay-multiplier));
  }

  // @supports not selector(:focus-visible) {
  //   &:focus #{$selector} {
  //     opacity: calc(var(--ve-focus-opacity) * var(--ve-theme-overlay-multiplier));
  //   }
  // }

  @if ($active) {
    &--active {
      @include active-states($selector);
    }
  }
}

@mixin active-states($selector: '::before') {
  &:hover #{$selector},
  #{$selector} {
    visibility: visible;
    opacity: calc(var(--ve-activated-opacity) * var(--ve-theme-overlay-multiplier));
  }

  &:focus #{$selector} {
    visibility: visible;
    opacity: calc(var(--ve-pressed-opacity) * var(--ve-theme-overlay-multiplier));
  }
}
