@use '../settings/transition' as *;

@mixin use-transition($overflow: inherit) {
  &-enter-active {
    overflow: #{$overflow};
    transition: .3s $standard-easing;
  }

  &-leave-active {
    overflow: #{$overflow};
    transition: .3s $standard-easing;
  }

  &-move {
    transition: transform .5s $standard-easing;
  }
}