@use '../settings/transition' as *;

@mixin use-transition() {
  &-enter-active {
    transition: .2s $standard-easing;
  }

  &-leave-active {
    transition: .2s $standard-easing;
  }

  &-move {
    transition: transform .5s $standard-easing;
  }
}