@use '../settings/borders';

@mixin use-variant($contained-background: rgb(var(--ve-theme-surface)), $contained-color: rgb(var(--ve-theme-on-surface))) {
  &--variant-outlined,
  &--variant-text {
    background: transparent;
    color: inherit;
  }

  &--variant-contained {
    background: $contained-background;
    color: $contained-color;
    border-width: var(--ve-variant-border-width, thin);
  }

  &--variant-outlined {
    border: thin solid currentColor;
  }
}