@use '../settings/borders';

@mixin use-variant($contained-background, $contained-color) {
  &--variant-outlined,
  &--variant-text {
    background: transparent;
    color: inherit;
  }

  &--variant-contained {
    background: $contained-background;
    color: $contained-color;
  }

  &--variant-outlined {
    border: thin solid borders.$border-color;
  }

  &--variant-custom-color {
    border-color: currentColor;
  }
}