@use '../../../styles/tools';

$progress-size: 40px !default;

$progress-sizes: () !default;
$progress-sizes: tools.map-deep-merge(
    (
      'xs': -2,
      'sm': -1,
      'md': 0,
      'lg': 2,
      'xl': 4
    ),
    $progress-sizes
);