@use '../../../styles/tools';

$progress-size: 40px !default;

$progress-sizes: () !default;
$progress-sizes: tools.map-deep-merge(
    (
      'x-small': -2,
      'small': -1,
      'medium': 0,
      'large': 2,
      'x-large': 4
    ),
    $progress-sizes
);