@forward 'variables';
@use 'variables' as *;
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-breadcrumb {
  > ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-item,
  &-separator {
    list-style: none;
    display: inline-flex;
    align-items: center;
  }

  &-item {
    opacity: 1;

    &--has-next {
      opacity: .6;
    }

    > .ve-button {
      padding: 0 4px;
      min-width: auto;
      height: auto;
    }
  }

  &-separator {
    opacity: .6;
    margin: 0 4px;

    .ve-icon {
      width: 1em !important;
      height: 1em !important;
      font-size: 1em !important;
    }
  }
}