.ve-draggable-resizable {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  touch-action: none;

  &--dragging {
    user-select: none;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__draggable {
    cursor: move;
  }

  &--outlined:not(#{&}--disabled):before {
    content: '';
    box-sizing: initial;
    border: 2px solid #6CCFFF;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: -2px 0 0 -2px;
  }

  &--activated:not(#{&}--disabled):before {
    border-width: 1px;
    border-color: rgba(108, 207, 255, .3);
    margin: -1px 0 0 -1px;
  }

  &__resizable-anchor {
    position: absolute;
    z-index: 1;
    transition: opacity .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;

    &--hide {
      opacity: 0;
    }

    &--top,
    &--bottom {
      transform: translate(0, -50%);
    }

    &--top-left,
    &--top-right,
    &--bottom-left,
    &--bottom-right {
      z-index: 2;
      transform: translate(-50%, -50%);
    }

    &--left,
    &--right {
      transform: translate(-50%, 0);
    }

    &--top {
      top: 0;
      left: 0;
      right: 0;
      cursor: ns-resize;
    }

    &--top-left {
      top: 0;
      left: 0;
      cursor: nwse-resize;
    }

    &--left {
      left: 0;
      top: 0;
      bottom: 0;
      cursor: ew-resize;
    }

    &--bottom-left {
      top: 100%;
      left: 0;
      cursor: nesw-resize;
    }

    &--bottom {
      top: 100%;
      left: 0;
      right: 0;
      cursor: ns-resize;
    }

    &--top-right {
      top: 0;
      left: 100%;
      cursor: nesw-resize;
    }

    &--right {
      left: 100%;
      top: 0;
      bottom: 0;
      cursor: ew-resize;
    }

    &--bottom-right {
      left: 100%;
      top: 100%;
      cursor: nwse-resize;
    }

    &:before {
      content: '';
    }

    &--right:before,
    &--left:before {
      width: 4px;
      height: 100%;
    }

    &--top:before,
    &--bottom:before {
      width: 100%;
      height: 4px;
    }

    &--bottom-left:before,
    &--top-left:before,
    &--top-right:before,
    &--bottom-right:before {
      width: 8px;
      height: 8px;
    }

    &--control:before {
      box-sizing: border-box;
      display: block;
      background: #FFF;
      border: 1px solid #C0C5CF;
      box-shadow: 0 0 2px 0 rgba(86, 90, 98, .2);
      border-radius: 6px;
    }

    &--right#{&}--control:before,
    &--left#{&}--control:before {
      height: 16px;
      width: 7px;
    }

    &--top#{&}--control:before,
    &--bottom#{&}--control:before {
      width: 16px;
      height: 7px;
    }

    &--bottom-left#{&}--control:before,
    &--top-left#{&}--control:before,
    &--top-right#{&}--control:before,
    &--bottom-right#{&}--control:before {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }
}
