@use '../../../styles/tools/functions';

$shape-border-radius: 4px !default;

$shapes: (
  'default': $shape-border-radius,
) !default;

$shape-props: () !default;
$shape-props: functions.map-deep-merge(
    (
      'shapes': $shapes,
    ),
    $shape-props
);