@use '../../../styles/settings/rounded' as settings;
@use '../../../styles/tools/functions';

$shapes: (
  'tile': map-get(settings.$rounded, '0'),
  'rounded': map-get(settings.$rounded, null),
  'pill': map-get(settings.$rounded, 'pill'),
  'circle': map-get(settings.$rounded, 'circle'),
) !default;

$shape-props: () !default;
$shape-props: functions.map-deep-merge(
    (
      'shapes': $shapes,
    ),
    $shape-props
);