@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-alert {
  position: relative;
  padding: 16px;
  display: flex;
  @include tools.use-material();

  &__avatar {
    margin-inline-end: 8px;
    max-height: 24px;
    max-width: 24px;

    .ve-avatar {
      height: auto;
      width: auto;
      max-width: inherit;
      max-height: inherit;
    }
  }

  &__close {
    margin-inline-start: 8px;
    .ve-button {
      font-size: 16px;
      min-width: 28px;
      min-height: 28px;
      opacity: var(--ve-medium-emphasis-opacity);
      border-radius: 50%;
    }
  }

  &:before {
    content: '';
    @include tools.absolute();
    background-color: currentColor;
    border-radius: inherit;
    opacity: .04;
    pointer-events: none;
  }

  &__wrap {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__title + &__content {
    margin-top: 8px;
  }
}




