@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-alert {
  --ve-card-py: 12px;
  transform-origin: top center;

  &__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
  }

  // Card variant
  .ve-card--variant-contained {
    @include tools.elevation(1);
  }

  .ve-card--variant-text,
  .ve-card--variant-outlined,
  .ve-card--variant-outlined-text,
  .ve-card--variant-outlined-outlined {
    background: rgb(var(--ve-theme-surface));
    color: rgb(var(--ve-theme-on-surface));
  }

  .ve-card-header-text {
    color: rgb(var(--ve-theme-on-background));
  }

  .ve-card-avatar {
    align-items: start;
  }

  &--with-title &__icon {
    margin-top: 2px;
  }

  &__close.ve-button {
    --ve-height: 1.5em;
    padding: 0;
    color: rgb(var(--ve-theme-on-background)) !important;
  }
}