@use '../../../styles/settings';

$device-app-bar-header: 40px !default;

// color
$device-background: rgb(var(--ve-theme-surface)) !default;
$device-color: rgb(var(--ve-theme-on-surface)) !default;

// border
$device-border-color: settings.$border-color !default;
$device-border-style: settings.$border-style !default;
$device-border-width: 0 !default;
$device-border-thin-width: thin !default;
$device-border-radius: settings.$border-radius !default;
$device-borders: (
  'default': (
    'color': $device-border-color,
    'style': $device-border-style,
    'width': $device-border-width,
  ),
  'existence': (
    'width': $device-border-thin-width,
  )
) !default;
$device-shapes: (
  'default': $device-border-radius,
) !default;