@import './_variables';

.ve-device {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $device-color;
  border-radius: $device-border-radius;
  @include border($device-border...);
  @include variant($device-variant...);

  &__app-bar {
    height: $device-app-bar-header;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
  }

  &__app-main {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__height-tip {
    position: absolute;
    color: rgb(162, 162, 162);
    height: 20px;
    font-size: 0.875rem;
    left: -130px;
    width: 130px;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
}
