@forward 'variables';
@use 'variables' as *;

.ve-device-status-bar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  color: #000102;
  font-weight: normal;

  &__mobile-signal {
    display: flex;
    align-items: flex-end;
    height: 1rem;
    margin-right: 0.25rem;

    div {
      width: 0.2rem;
      background-color: currentColor;
      border-radius: 0.2rem;

      + div {
        margin-left: 0.125rem;
      }

      &:nth-child(1) {
        height: 25%;
      }

      &:nth-child(2) {
        height: 50%;
      }

      &:nth-child(3) {
        height: 75%;
      }

      &:nth-child(4) {
        height: 100%;
      }
    }
  }

  &__mobile-operator {
    font-size: 0.875rem;
    margin-right: 0.25rem;
  }

  &__wifi-signal {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: translateX(0.6rem) rotate(-45deg);
    transform-origin: 0 1rem;

    div {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-color: currentColor;
      border-style: solid;
      border-width: 0.2rem 0.2rem 0 0;
      border-radius: 0 100% 0 0;

      &:nth-child(1) {
        border-width: 0.33rem 0.33rem 0 0;
        width: 33.3%;
        height: 33.3%;
      }

      &:nth-child(2) {
        width: 66.6%;
        height: 66.6%;
      }

      &:nth-child(3) {
        width: 99.9%;
        height: 99.9%;
      }
    }
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__clock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__battery {
    border: thin solid currentColor;
    width: 2rem;
    height: 1rem;
    border-radius: 0.25rem;
    padding: 0.0625rem;

    &-percentage {
      margin-right: 0.25rem;
      font-size: 0.875rem;
    }

    div {
      background-color: currentColor;
      border-radius: inherit;
      height: 100%;
    }
  }
}