@use 'sass:map';
@use 'sass:math';
@use '../../../styles/tools';
@use '../../../styles/settings';

$form-item-font-size: tools.map-deep-get(settings.$typography, 'body-2', 'size') !default;
$form-item-font-weight: tools.map-deep-get(settings.$typography, 'body-2', 'weight') !default;
$form-item-text-letter-spacing: tools.map-deep-get(settings.$typography, 'body-2', 'letter-spacing') !default;
$form-item-text-transform: tools.map-deep-get(settings.$typography, 'body-2', 'text-transform') !default;