@use '../../../styles/tools';

.ve-scale-transition {
  @include tools.use-transition();

  &-enter-active,
  &-leave-active {
    transition-property: transform, opacity;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(.85);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: scale(1);
  }
}
