@use '../../../styles/tools/functions';

$positions: (
  'absolute',
  'fixed',
) !default;

$position-props: () !default;
$position-props: functions.map-deep-merge(
    (
      'positions': $positions,
    ),
    $position-props
);
