@forward 'variables';
@use 'sass:map';
@use 'sass:math';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-button {
  $root: &;
  --ve-size-offset: 0px;
  --ve-density-offset: 0px;
  --ve-default-height: #{map.get($button-sizes, 'height')};
  --ve-height: calc(var(--ve-default-height) + var(--ve-size-offset) + var(--ve-density-offset));
  --ve-min-width: calc(var(--ve-height) * #{map.get($button-sizes, 'width-ratio')});
  --ve-padding-x: calc(var(--ve-height) / #{map.get($button-sizes, 'padding-ratio')});
  align-items: center;
  display: inline-flex;
  font-weight: tools.map-deep-get(settings.$typography, 'button', 'weight');
  justify-content: center;
  letter-spacing: tools.map-deep-get(settings.$typography, 'button', 'letter-spacing');
  outline: none;
  position: relative;
  height: var(--ve-height);
  min-width: var(--ve-min-width);
  padding: 0 var(--ve-padding-x);
  text-decoration: none;
  text-transform: tools.map-deep-get(settings.$typography, 'button', 'text-transform');
  transition-property: box-shadow, transform, opacity;
  transition-duration: 0.28s;
  transition-timing-function: settings.$standard-easing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  flex-shrink: 0;
  @include tools.use-paper($button-paper);
  @include tools.overlay(#{&}__overlay);
  @include tools.states(#{&}__overlay, false);

  @each $name, $multiplier in settings.$sizes {
    &--size-#{$name} {
      font-size: #{math.max(12px, map.get($button-sizes, 'font-size') + $multiplier * settings.$spacer)};
    }
  }

  &--icon {
    min-width: var(--ve-height);
    padding: 0;
    font-size: 1rem;
  }

  &--block {
    min-width: 100%;
  }

  &--loading {
    cursor: wait;
  }

  &--disabled {
    &#{$root}--disabled {
      cursor: not-allowed;
      color: rgba(var(--ve-theme-on-surface), $button-disabled-opacity);
      opacity: 1;

      #{$root}__overlay {
        opacity: 0;
      }
    }

    &#{$root}--variant-contained {
      background: rgb(var(--ve-theme-surface));

      #{$root}__overlay {
        opacity: math.div($button-disabled-overlay, $button-disabled-opacity);
        visibility: visible;
      }
    }
  }

  &__icon.ve-progress {
    --ve-size: 1em;
    font-size: 1.5em;
    opacity: var(--ve-medium-emphasis-opacity);
  }
}