@forward 'variables';
@use 'sass:map';
@use 'sass:math';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-button {
  $root: &;
  // CSS Variables
  // --ve-button---font-size 14px
  // --ve-button---height 32px
  // --ve-button--icon-only---font-size 21px
  --ve-font-size: calc(var(--ve-button---font-size, #{$button-font-size}) + var(--ve-font-size-offset, 0px));
  --ve-height: calc(var(--ve-button---height, #{$button-height}) + var(--ve-size-offset, 0px) + var(--ve-density-offset, 0px));
  --ve-min-width: calc(var(--ve-height) * #{$button-width-ratio});
  --ve-padding-x: calc(var(--ve-height) / #{$button-padding-ratio});
  align-items: center;
  display: inline-flex;
  font-size: var(--ve-font-size);
  font-weight: $button-font-weight;
  justify-content: center;
  letter-spacing: $button-letter-spacing;
  outline: none;
  position: relative;
  height: var(--ve-height);
  min-width: var(--ve-min-width);
  padding: 0 var(--ve-padding-x);
  text-decoration: none;
  text-transform: $button-text-transform;
  transition-property: box-shadow, transform, opacity;
  transition-duration: 0.28s;
  transition-timing-function: settings.$standard-easing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  flex-shrink: 0;
  @include tools.use-paper($button-paper);
  @include tools.overlay(#{&}__overlay);
  @include tools.states(#{&}__overlay, false);

  @each $name, $multiplier in settings.$sizes {
    &--size-#{$name} {
      --ve-font-size-offset: #{$multiplier * 1px};
    }
  }

  &--icon,
  &--icon-only {
    min-width: var(--ve-height);
    padding: 0;
  }

  &--icon-only {
    --ve-button---font-size: var(--ve-button--icon-only---font-size, #{$button-font-size * 1.5});
  }

  &--block {
    min-width: 100%;
  }

  &--loading {
    cursor: wait;
  }

  &--disabled {
    &#{$root}--disabled {
      cursor: not-allowed;
      color: rgba(var(--ve-theme-on-surface), $button-disabled-opacity);
      opacity: 1;

      #{$root}__overlay {
        opacity: 0;
      }
    }

    &#{$root}--variant-contained {
      background: rgb(var(--ve-theme-surface));

      #{$root}__overlay {
        opacity: math.div($button-disabled-overlay, $button-disabled-opacity);
        visibility: visible;
      }
    }
  }

  &__wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}