@use '../../styles/tools/functions' as tools;

$border-color: rgba(var(--ve-border-color), var(--ve-border-opacity)) !default;
$border-style: solid !default;
$border-width: thin !default;

$borders: () !default;
$borders: tools.map-deep-merge(
    (
      0: 0,
      null: thin,
      sm: 1px,
      md: 2px,
      lg: 4px,
      xl: 8px
    ),
    $borders
);

@each $key, $border in $borders {
  $borders: tools.map-deep-merge(
    $borders,
    ($key: $border $border-style $border-color)
  )
}

$border-opacities: () !default;
$border-opacities: tools.map-deep-merge(
    (
      0: 0,
      null: .12,
      25: .25,
      50: .50,
      75: .75,
      100: 1
    ),
    $border-opacities
);