@use '../tools/functions' as *;

$red: () !default;
$red: map-deep-merge(
    (
      '50': #ffebee #000000,
      '100': #ffcdd2 #000000,
      '200': #ef9a9a #000000,
      '300': #e57373 #000000,
      '400': #ef5350 #ffffff,
      '500': #f44336 #ffffff,
      '600': #e53935 #ffffff,
      '700': #d32f2f #ffffff,
      '800': #c62828 #ffffff,
      '900': #b71c1c #ffffff,
      'a100': #ff8a80 #000000,
      'a200': #ff5252 #ffffff,
      'a400': #ff1744 #ffffff,
      'a700': #d50000 #ffffff
    ),
    $red
);

$pink: () !default;
$pink: map-deep-merge(
    (
      '50': #fce4ec #000000,
      '100': #f8bbd0 #000000,
      '200': #f48fb1 #000000,
      '300': #f06292 #ffffff,
      '400': #ec407a #ffffff,
      '500': #e91e63 #ffffff,
      '600': #d81b60 #ffffff,
      '700': #c2185b #ffffff,
      '800': #ad1457 #ffffff,
      '900': #880e4f #ffffff,
      'a100': #ff80ab #000000,
      'a200': #ff4081 #ffffff,
      'a400': #f50057 #ffffff,
      'a700': #c51162 #ffffff
    ),
    $pink
);

$purple: () !default;
$purple: map-deep-merge(
    (
      '50': #f3e5f5 #000000,
      '100': #e1bee7 #000000,
      '200': #ce93d8 #000000,
      '300': #ba68c8 #ffffff,
      '400': #ab47bc #ffffff,
      '500': #9c27b0 #ffffff,
      '600': #8e24aa #ffffff,
      '700': #7b1fa2 #ffffff,
      '800': #6a1b9a #ffffff,
      '900': #4a148c #ffffff,
      'a100': #ea80fc #000000,
      'a200': #e040fb #ffffff,
      'a400': #d500f9 #ffffff,
      'a700': #aa00ff #ffffff
    ),
    $purple
);

$deep-purple: () !default;
$deep-purple: map-deep-merge(
    (
      '50': #ede7f6 #000000,
      '100': #d1c4e9 #000000,
      '200': #b39ddb #000000,
      '300': #9575cd #ffffff,
      '400': #7e57c2 #ffffff,
      '500': #673ab7 #ffffff,
      '600': #5e35b1 #ffffff,
      '700': #512da8 #ffffff,
      '800': #4527a0 #ffffff,
      '900': #311b92 #ffffff,
      'a100': #b388ff #000000,
      'a200': #7c4dff #ffffff,
      'a400': #651fff #ffffff,
      'a700': #6200ea #ffffff
    ),
    $deep-purple
);

$indigo: () !default;
$indigo: map-deep-merge(
    (
      '50': #e8eaf6 #000000,
      '100': #c5cae9 #000000,
      '200': #9fa8da #000000,
      '300': #7986cb #ffffff,
      '400': #5c6bc0 #ffffff,
      '500': #3f51b5 #ffffff,
      '600': #3949ab #ffffff,
      '700': #303f9f #ffffff,
      '800': #283593 #ffffff,
      '900': #1a237e #ffffff,
      'a100': #8c9eff #000000,
      'a200': #536dfe #ffffff,
      'a400': #3d5afe #ffffff,
      'a700': #304ffe #ffffff
    ),
    $indigo
);

$blue: () !default;
$blue: map-deep-merge(
    (
      '50': #e3f2fd #000000,
      '100': #bbdefb #000000,
      '200': #90caf9 #000000,
      '300': #64b5f6 #000000,
      '400': #42a5f5 #000000,
      '500': #2196f3 #ffffff,
      '600': #1e88e5 #ffffff,
      '700': #1976d2 #ffffff,
      '800': #1565c0 #ffffff,
      '900': #0d47a1 #ffffff,
      'a100': #82b1ff #000000,
      'a200': #448aff #ffffff,
      'a400': #2979ff #ffffff,
      'a700': #2962ff #ffffff
    ),
    $blue
);

$light-blue: () !default;
$light-blue: map-deep-merge(
    (
      '50': #e1f5fe #000000,
      '100': #b3e5fc #000000,
      '200': #81d4fa #000000,
      '300': #4fc3f7 #000000,
      '400': #29b6f6 #000000,
      '500': #03a9f4 #000000,
      '600': #039be5 #ffffff,
      '700': #0288d1 #ffffff,
      '800': #0277bd #ffffff,
      '900': #01579b #ffffff,
      'a100': #80d8ff #000000,
      'a200': #40c4ff #000000,
      'a400': #00b0ff #000000,
      'a700': #0091ea #ffffff
    ),
    $light-blue
);

$cyan: () !default;
$cyan: map-deep-merge(
    (
      '50': #e0f7fa #000000,
      '100': #b2ebf2 #000000,
      '200': #80deea #000000,
      '300': #4dd0e1 #000000,
      '400': #26c6da #000000,
      '500': #00bcd4 #000000,
      '600': #00acc1 #000000,
      '700': #0097a7 #ffffff,
      '800': #00838f #ffffff,
      '900': #006064 #ffffff,
      'a100': #84ffff #000000,
      'a200': #18ffff #000000,
      'a400': #00e5ff #000000,
      'a700': #00b8d4 #000000
    ),
    $cyan
);

$teal: () !default;
$teal: map-deep-merge(
    (
      '50': #e0f2f1 #000000,
      '100': #b2dfdb #000000,
      '200': #80cbc4 #000000,
      '300': #4db6ac #000000,
      '400': #26a69a #ffffff,
      '500': #009688 #ffffff,
      '600': #00897b #ffffff,
      '700': #00796b #ffffff,
      '800': #00695c #ffffff,
      '900': #004d40 #ffffff,
      'a100': #a7ffeb #000000,
      'a200': #64ffda #000000,
      'a400': #1de9b6 #000000,
      'a700': #00bfa5 #000000
    ),
    $teal
);

$green: () !default;
$green: map-deep-merge(
    (
      '50': #e8f5e9 #000000,
      '100': #c8e6c9 #000000,
      '200': #a5d6a7 #000000,
      '300': #81c784 #000000,
      '400': #66bb6a #000000,
      '500': #4caf50 #000000,
      '600': #43a047  #ffffff,
      '700': #388e3c #ffffff,
      '800': #2e7d32 #ffffff,
      '900': #1b5e20 #ffffff,
      'a100': #b9f6ca #000000,
      'a200': #69f0ae #000000,
      'a400': #00e676 #000000,
      'a700': #00c853 #000000
    ),
    $green
);

$light-green: () !default;
$light-green: map-deep-merge(
    (
      '50': #f1f8e9 #000000,
      '100': #dcedc8 #000000,
      '200': #c5e1a5 #000000,
      '300': #aed581 #000000,
      '400': #9ccc65 #000000,
      '500': #8bc34a #000000,
      '600': #7cb342 #000000,
      '700': #689f38 #ffffff,
      '800': #558b2f #ffffff,
      '900': #33691e #ffffff,
      'a100': #ccff90 #000000,
      'a200': #b2ff59 #000000,
      'a400': #76ff03 #000000,
      'a700': #64dd17 #000000
    ),
    $light-green
);

$lime: () !default;
$lime: map-deep-merge(
    (
      '50': #f9fbe7 #000000,
      '100': #f0f4c3 #000000,
      '200': #e6ee9c #000000,
      '300': #dce775 #000000,
      '400': #d4e157 #000000,
      '500': #cddc39 #000000,
      '600': #c0ca33 #000000,
      '700': #afb42b #000000,
      '800': #9e9d24 #000000,
      '900': #827717 #ffffff,
      'a100': #f4ff81 #000000,
      'a200': #eeff41 #000000,
      'a400': #c6ff00 #000000,
      'a700': #aeea00 #000000
    ),
    $lime
);

$yellow: () !default;
$yellow: map-deep-merge(
    (
      '50': #fffde7 #000000,
      '100': #fff9c4 #000000,
      '200': #fff59d #000000,
      '300': #fff176 #000000,
      '400': #ffee58 #000000,
      '500': #ffeb3b #000000,
      '600': #fdd835 #000000,
      '700': #fbc02d #000000,
      '800': #f9a825 #000000,
      '900': #f57f17 #000000,
      'a100': #ffff8d #000000,
      'a200': #ffff00 #000000,
      'a400': #ffea00 #000000,
      'a700': #ffd600 #000000
    ),
    $yellow
);

$amber: () !default;
$amber: map-deep-merge(
    (
      '50': #fff8e1 #000000,
      '100': #ffecb3 #000000,
      '200': #ffe082 #000000,
      '300': #ffd54f #000000,
      '400': #ffca28 #000000,
      '500': #ffc107 #000000,
      '600': #ffb300 #000000,
      '700': #ffa000 #000000,
      '800': #ff8f00 #000000,
      '900': #ff6f00 #000000,
      'a100': #ffe57f #000000,
      'a200': #ffd740 #000000,
      'a400': #ffc400 #000000,
      'a700': #ffab00 #000000
    ),
    $amber
);

$orange: () !default;
$orange: map-deep-merge(
    (
      '50': #fff3e0 #000000,
      '100': #ffe0b2 #000000,
      '200': #ffcc80 #000000,
      '300': #ffb74d #000000,
      '400': #ffa726 #000000,
      '500': #ff9800 #000000,
      '600': #fb8c00 #000000,
      '700': #f57c00 #000000,
      '800': #ef6c00 #ffffff,
      '900': #e65100 #ffffff,
      'a100': #ffd180 #000000,
      'a200': #ffab40 #000000,
      'a400': #ff9100 #000000,
      'a700': #ff6d00 #000000
    ),
    $orange
);

$deep-orange: () !default;
$deep-orange: (
  '50': #fbe9e7 #000000,
  '100': #ffccbc #000000,
  '200': #ffab91 #000000,
  '300': #ff8a65 #000000,
  '400': #ff7043 #000000,
  '500': #ff5722 #ffffff,
  '600': #f4511e #ffffff,
  '700': #e64a19 #ffffff,
  '800': #d84315 #ffffff,
  '900': #bf360c #ffffff,
  'a100': #ff9e80 #000000,
  'a200': #ff6e40 #000000,
  'a400': #ff3d00 #ffffff,
  'a700': #dd2c00 #ffffff
);

$brown: () !default;
$brown: map-deep-merge(
    (
      '50': #efebe9 #000000,
      '100': #d7ccc8 #000000,
      '200': #bcaaa4 #000000,
      '300': #a1887f #ffffff,
      '400': #8d6e63 #ffffff,
      '500': #795548 #ffffff,
      '600': #6d4c41 #ffffff,
      '700': #5d4037 #ffffff,
      '800': #4e342e #ffffff,
      '900': #3e2723 #ffffff,
      'a100': #d7ccc8 #000000,
      'a200': #bcaaa4 #000000,
      'a400': #8d6e63 #ffffff,
      'a700': #5d4037 #ffffff
    ),
    $brown
);

$grey: () !default;
$grey: map-deep-merge(
    (
      '50': #fafafa #000000,
      '100': #f5f5f5 #000000,
      '200': #eeeeee #000000,
      '300': #e0e0e0 #000000,
      '400': #bdbdbd #000000,
      '500': #9e9e9e #000000,
      '600': #757575 #ffffff,
      '700': #616161 #ffffff,
      '800': #424242 #ffffff,
      '900': #212121 #ffffff,
      'a100': #f5f5f5 #000000,
      'a200': #eeeeee #000000,
      'a400': #bdbdbd #000000,
      'a700': #616161 #ffffff
    ),
    $grey
);

$blue-grey: () !default;
$blue-grey: map-deep-merge(
    (
      '50': #eceff1 #000000,
      '100': #cfd8dc #000000,
      '200': #b0bec5 #000000,
      '300': #90a4ae #000000,
      '400': #78909c #ffffff,
      '500': #607d8b #ffffff,
      '600': #546e7a #ffffff,
      '700': #455a64 #ffffff,
      '800': #37474f #ffffff,
      '900': #263238 #ffffff,
      'a100': #cfd8dc #000000,
      'a200': #b0bec5 #000000,
      'a400': #78909c #ffffff,
      'a700': #455a64 #ffffff
    ),
    $blue-grey
);

$shades: () !default;
$shades: map-deep-merge(
    (
      'black': #000000,
      'white': #ffffff,
      'transparent': transparent
    ),
    $shades
);

$colors: () !default;
$colors: map-deep-merge(
    (
      'red': $red,
      'pink': $pink,
      'purple': $purple,
      'deep-purple': $deep-purple,
      'indigo': $indigo,
      'blue': $blue,
      'light-blue': $light-blue,
      'cyan': $cyan,
      'teal': $teal,
      'green': $green,
      'light-green': $light-green,
      'lime': $lime,
      'yellow': $yellow,
      'amber': $amber,
      'orange': $orange,
      'deep-orange': $deep-orange,
      'brown': $brown,
      'grey': $grey,
      'blue-grey': $blue-grey,
      'shades': $shades
    ),
    $colors
);
