@use 'sass:map';
@use '../tools/functions';
@use 'variables' as *;

$heading-font-family: $font-family !default;
$heading-font-weight: 500 !default;
$heading-line-height: 1.2 !default;

$typography: () !default;
$typography: functions.map-deep-merge(
    (
      'h1': (
        'size': $font-size * 2.5,
        'weight': $heading-font-weight,
        'line-height': $heading-line-height,
        'letter-spacing': normal,
        'font-family': $heading-font-family,
        'text-transform': none
      ),
      'h2': (
        'size': $font-size * 2,
        'weight': $heading-font-weight,
        'line-height': $heading-line-height,
        'letter-spacing': normal,
        'font-family': $heading-font-family,
        'text-transform': none
      ),
      'h3': (
        'size': $font-size * 1.75,
        'weight': $heading-font-weight,
        'line-height': $heading-line-height,
        'letter-spacing': normal,
        'font-family': $heading-font-family,
        'text-transform': none
      ),
      'h4': (
        'size': $font-size * 1.5,
        'weight': $heading-font-weight,
        'line-height': $heading-line-height,
        'letter-spacing': normal,
        'font-family': $heading-font-family,
        'text-transform': none
      ),
      'h5': (
        'size': $font-size * 1.25,
        'weight': $heading-font-weight,
        'line-height': $heading-line-height,
        'letter-spacing': normal,
        'font-family': $heading-font-family,
        'text-transform': none
      ),
      'h6': (
        'size': $font-size,
        'weight': $heading-font-weight,
        'line-height': $heading-line-height,
        'letter-spacing': normal,
        'font-family': $heading-font-family,
        'text-transform': none
      ),
      'subtitle-1': (
        'size': 16px,
        'weight': 400,
        'line-height': 1.75,
        'letter-spacing': normal,
        'font-family': $font-family,
        'text-transform': none
      ),
      'subtitle-2': (
        'size': 14px,
        'weight': 500,
        'line-height': 1.375,
        'letter-spacing': normal,
        'font-family': $font-family,
        'text-transform': none
      ),
      'body-1': (
        'size': 16px,
        'weight': 400,
        'line-height': 1.5,
        'letter-spacing': normal,
        'font-family': $font-family,
        'text-transform': none
      ),
      'body-2': (
        'size': 14px,
        'weight': 400,
        'line-height': 1.5,
        'letter-spacing': normal,
        'font-family': $font-family,
        'text-transform': none
      ),
      'button': (
        'size': 14px,
        'weight': 400,
        'line-height': normal,
        'letter-spacing': normal,
        'font-family': $font-family,
        'text-transform': none
      ),
      'caption': (
        'size': 12px,
        'weight': 400,
        'line-height': 1.25,
        'letter-spacing': normal,
        'font-family': $font-family,
        'text-transform': none
      ),
      'overline': (
        'size': 12px,
        'weight': 500,
        'line-height': 2,
        'letter-spacing': normal,
        'font-family': $font-family,
        'text-transform': uppercase
      )
    ),
    $typography
);

$flat-typography: () !default;
@each $type, $values in $typography {
  $flat-typography: functions.map-deep-merge(
      $flat-typography,
      (#{$type}: map.values($values))
  );
}