@use '../tools/functions';

$color-pack: true !default;

// 间距系数
$spacer: 4px !default;

$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size: 14px !default;
$line-height: 1.5 !default;
