@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-label {
  align-items: center;
  color: rgba(var(--ve-theme-on-surface), var(--ve-medium-emphasis-opacity));
  cursor: pointer;
  display: inline-flex;
  letter-spacing: .009375em;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--disabled {
    color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity));
  }

  &--error {
    color: rgb(var(--ve-theme-error));
  }
}

