@forward 'variables';
@use 'variables' as *;

.ve-app-main {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  transition: $app-main-transition;

  &__wrapper {
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
  }
}




