@forward './variables';
@use '../../../styles/tools';
@use '../../../styles/settings';
@use './variables' as *;

.ve-form-control {
  $root: &;
  --ve-form-control-height: calc(42px + var(--ve-form-control-density-offset, 0px));
  display: grid;
  grid-template-areas: "prepend label control append" "a b details c";
  grid-template-columns: max-content max-content auto max-content;
  grid-template-rows: auto auto;
  @include tools.use-density((
    densities: $form-control-density
  ));

  &--horizontal {
    #{$root}__label {
      margin-inline-end: 16px;
      justify-content: end;
    }
  }

  &--vertical {
    grid-template-areas: "a label b" "prepend control append" "c details d";
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto auto;

    #{$root}__label {
      margin-block-end: 8px;
    }
  }

  &--disabled {
    pointer-events: none;

    &,
    input {
      color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity));
    }
  }

  input {
    color: inherit;
  }

  @at-root {
    &--hide-details + &--hide-details {
      margin-top: 8px;
    }
  }

  &__prepend,
  &__append,
  &__control {
    display: flex;
    align-items: center;
    align-self: center;
  }

  &__prepend {
    grid-area: prepend;
    margin-inline-end: 16px;
  }

  &__label {
    grid-area: label;
  }

  &__control {
    grid-area: control;
  }

  &__append {
    grid-area: append;
    margin-inline-start: 16px;
  }

  &__details {
    align-items: flex-end;
    display: flex;
    font-size: .75rem;
    font-weight: 400;
    grid-area: details;
    line-height: normal;
    min-height: 22px;
    overflow: hidden;
    padding-block-start: 6px;
    padding-block-end: 6px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    justify-content: space-between;
  }
}