@forward './variables';
@use '../../../styles/tools';
@use '../../../styles/settings';
@use './variables' as *;

// Blocks
.ve-form-control {
  $root: &;
  // CSS Variables
  // --ve-form-control---height 32px
  --ve-control-height: calc(var(--ve-form-control---height, 32px) + var(--ve-size-offset, 0px) + var(--ve-density-offset, 0px));
  display: grid;
  align-self: center;
  grid-template-areas: "prepend label control append" "a b details c";
  grid-template-columns: max-content max-content auto max-content;
  grid-template-rows: auto auto;
  @include tools.use-size();
  @include tools.use-density((
    densities: $form-control-densities
  ));

  // Modifiers
  &--vertical {
    grid-template-areas: "a label b" "prepend control append" "c details d";
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto auto;
  }

  &--inline {
    display: inline-grid;
    vertical-align: middle;
  }

  &--disabled {
    pointer-events: none;

    &,
    input {
      color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity));
    }
  }

  // Elements
  input {
    color: inherit;
  }

  &--vertical &__label {
    margin-block-end: 8px;
  }
  &--horizontal &__label {
    margin-inline-end: 16px;
    justify-content: end;
  }

  &__prepend,
  &__append,
  &__control {
    display: flex;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
  }

  &__prepend {
    grid-area: prepend;
    margin-inline-end: 12px;
  }

  &__label {
    grid-area: label;
    display: inline-flex;
  }

  &__control {
    grid-area: control;
    min-height: var(--ve-control-height);
    width: 100%;
  }

  &__append {
    grid-area: append;
    margin-inline-start: 12px;
  }

  &__details {
    align-items: flex-end;
    display: flex;
    font-size: .75rem;
    font-weight: 400;
    grid-area: details;
    line-height: normal;
    min-height: 22px;
    overflow: hidden;
    padding: 4px;
    justify-content: space-between;
  }
}