@forward 'variables';
@use 'variables' as *;
@use 'sass:map';
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-icon {
  --ve-size: 1em;
  align-items: center;
  display: inline-flex;
  font-feature-settings: 'liga';
  height: var(--ve-size);
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  user-select: none;
  vertical-align: middle;
  width: var(--ve-size);

  @each $name, $multiplier in $icon-sizes {
    &--size-#{$name} {
      font-size: $multiplier;
    }
  }

  &--left {
    margin-inline-end: map.get(settings.$grid-gutters, 'md');
  }

  &--right {
    margin-inline-start: map.get(settings.$grid-gutters, 'md');
  }

  &__svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}
