@forward 'variables';
@use 'variables' as *;
@use 'sass:map';

.ve-icon {
  display: inline-block;
  font-feature-settings: 'liga';
  letter-spacing: $icon-letter-spacing;
  line-height: $icon-line-height;
  position: relative;
  text-indent: $icon-text-indent;
  user-select: none;
  vertical-align: $icon-vertical-align;
  height: $icon-size;
  width: $icon-size;

  @each $name, $multiplier in $icon-sizes {
    &--size-#{$name} {
      font-size: $multiplier;
    }
  }

  &--left {
    margin-inline-end: $icon-margin-start;
  }

  &--right {
    margin-inline-start: $icon-margin-end;
  }

  &__svg {
    fill: currentColor;
  }
}
