@forward 'variables';
@use 'variables' as *;
@use 'sass:map';
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-icon {
  // CSS Variables
  // --ve-icon---font-size 1em
  // --ve-icon---height 1em
  --ve-height: var(--ve-icon---height, 1em);
  --ve-width: var(--ve-height, 1em);
  align-items: center;
  display: inline-flex;
  font-feature-settings: 'liga';
  font-size: calc(var(--ve-icon---font-size, 1em) + var(--ve-size-offset));
  height: var(--ve-height);
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  user-select: none;
  vertical-align: middle;
  width: var(--ve-width);

  @each $name, $multiplier in settings.$sizes {
    &--size-#{$name} {
      --ve-size-offset: #{0.25em * $multiplier};
    }
  }

  &--left {
    margin-inline-end: map.get(settings.$grid-gutters, 'sm');
  }

  &--right {
    margin-inline-start: map.get(settings.$grid-gutters, 'sm');
  }

  &__svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }
}
