@use '../../../styles/settings';

// Defaults
$badge-background: rgb(var(--ve-theme-surface)) !default;
$badge-color: rgb(var(--ve-theme-on-surface)) !default;
$badge-height: 20px !default;
$badge-min-width: 20px !default;
$badge-border-radius: 10px !default;
$badge-border-width: 2px !default;
$badge-border-color: rgb(var(--ve-theme-background)) !default;
$badge-font-family: settings.$font-family !default;
$badge-font-size: .75rem !default;
$badge-font-weight: 500 !default;

// Modifiers
// dot
$badge-dot-height: 10px !default;
$badge-dot-width: 10px !default;
$badge-dot-border-radius: 4.5px;
$badge-dot-border-width: 1.5px !default;

$badge-icon-margin: 0 -2px !default;
$badge-icon-padding: 4px 6px !default;
$badge-inline-vertical-align: middle !default;
$badge-line-height: 1 !default;
$badge-padding: 4px !default;
$badge-transition: .225s settings.$standard-easing !default;
$badge-wrapper-margin: 0 4px !default;
