@use '../../../styles/theme/border' as *;

$app-header-background: rgb(var(--v-theme-surface)) !default;
$app-header-color: rgb(var(--v-theme-on-surface)) !default;

$app-header-border-color: $border-color !default;
$app-header-border-radius: map-get($rounded, '0') !default;
$app-header-border-style: $border-style !default;
$app-header-border-width: 0 0 thin !default;
$app-header-border: (
  $app-header-border-color,
  $app-header-border-style,
  $app-header-border-width
) !default;