@use '../../../styles/settings';

$app-header-background: rgb(var(--ve-theme-surface)) !default;
$app-header-color: rgb(var(--ve-theme-on-surface)) !default;

$app-header-border-color: settings.$border-color !default;
$app-header-border-radius: map-get(settings.$rounded, '0') !default;
$app-header-border-style: settings.$border-style !default;
$app-header-border-width: 0 0 thin !default;
$app-header-border: (
  $app-header-border-color,
  $app-header-border-style,
  $app-header-border-width
) !default;