@forward 'variables';
@use 'variables' as *;

.ve-app {
  display: flex;
  background: rgb(var(--v-theme-background));
  color: rgb(var(--v-theme-on-background));

  &__wrap {
    flex: 1 1 auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }
}




