@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-toolbar-title {
  font-size: 1.25rem;
  min-width: 0;
  padding-left: 20px;

  &__wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}