@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-toolbar-title {
  flex: 1 1;
  font-size: 1.25rem;
  min-width: 0;

  &__wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}