@use 'sass:math';
@use '../tools/functions' as *;

$border-color: rgba(var(--v-border-color), var(--v-border-opacity)) !default;
$border-style: solid !default;
$border-width: thin !default;
$border-radius: 0.25rem !default;

$borders: () !default;
$borders: map-deep-merge(
    (
      0: 0,
      null: thin,
      sm: 1px,
      md: 2px,
      lg: 4px,
      xl: 8px
    ),
    $borders
);

$border-opacities: () !default;
$border-opacities: map-deep-merge(
    (
      0: 0,
      null: .12,
      25: .25,
      50: .50,
      75: .75,
      100: 1
    ),
    $border-opacities
);

$rounded: () !default;
$rounded: map-deep-merge(
    (
      0: 0,
      'sm': math.div($border-radius, 2),
      null: $border-radius,
      'lg': $border-radius * 2,
      'xl': $border-radius * 6,
      'pill': 9999px,
      'circle': 50%,
      'shaped': $border-radius * 6 0
    ),
    $rounded
);