@use 'sass:math';
@use '../../../styles/settings';
@use '../../../styles/tools';
@use 'mixins' as *;

// 网格列数
$grid-columns: 12 !default;
// xs sm md lg xl xxl

// 容器
$container-padding-x: math.div(settings.$grid-gutter, 2) !default;

$container-max-widths: () !default;
$container-max-widths: tools.map-deep-merge(
    (
      'md': map-get(settings.$grid-breakpoints, 'md') * 0.9375,
      'lg': map-get(settings.$grid-breakpoints, 'lg') * 0.9375,
      'xl': map-get(settings.$grid-breakpoints, 'xl') * 0.9375,
      'xxl': map-get(settings.$grid-breakpoints, 'xxl') * 0.9375,
    ),
    $container-max-widths
);

$row-utilities: (
  "align-items": (
    responsive: true,
    property: align-items,
    class: ve-row--align,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
  "justify-content": (
    responsive: true,
    property: justify-content,
    class: ve-row--justify,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      space-between: space-between,
      space-around: space-around,
    )
  ),
  "align-content": (
    responsive: true,
    property: align-content,
    class: ve-row--align-content,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      space-between: space-between,
      space-around: space-around,
      stretch: stretch,
    )
  ),
);

$col-utilities: (
  "order": (
    responsive: true,
    property: order,
    class: ve-col--order,
    values: (
      first: -1,
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
      6: 6,
      7: 7,
      8: 8,
      9: 9,
      10: 10,
      11: 11,
      12: 12,
      last: 13,
    ),
  ),
  "align-self": (
    responsive: true,
    property: align-self,
    class: ve-col--align-self,
    values: (
      auto: auto,
      start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
    )
  ),
);
