@forward 'variables';
@use 'variables' as *;
@use 'mixins' as *;
@use '../../../styles/settings';
@use '../../../styles/tools';

// Row
//
// Rows contain and clear the floats of your columns.
.ve-row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: calc(var(--ve-row-gutter, 0px) * -.5);

  @each $name, $value in settings.$grid-gutters {
    &--gutter-#{$name} {
      --ve-row-gutter: #{$value};
    }
  }

  & + .row {
    margin-top: calc(var(--ve-row-gutter) * .5);
  }

  > .ve-col,
  > [class*="ve-col-"] {
    padding: calc(var(--ve-row-gutter) * .5);
  }
}
