@use 'sass:list';
@use '../../../styles/settings';
@use '../../../styles/tools';

// List
$list-paper: () !default;
$list-paper: tools.map-deep-merge(
    (
      'use-size': false,
    ),
    $list-paper
);

// ListItem
$list-item-paper: () !default;
$list-item-paper: tools.map-deep-merge(
    (
      'use-size': false,
    ),
    $list-item-paper
);

// ListItemTitle
$list-item-title-font-size: tools.map-deep-get(settings.$typography, 'body-1', 'size') !default;
$list-item-title-font-weight: tools.map-deep-get(settings.$typography, 'body-1', 'weight') !default;
$list-item-title-header-padding: 0 !default;
$list-item-title-hyphens: auto !default;
$list-item-title-letter-spacing: tools.map-deep-get(settings.$typography, 'subtitle-1', 'letter-spacing') !default;
$list-item-title-line-height: tools.map-deep-get(settings.$typography, 'body-1', 'line-height') !default;
$list-item-title-text-transform: none !default;

$list-item-title-typography: (
  $list-item-title-font-size,
  $list-item-title-font-weight,
  $list-item-title-letter-spacing,
  $list-item-title-line-height,
  $list-item-title-text-transform
);

// Nav ListItemTitle
$list-item-nav-title-font-size: 14px !default;
$list-item-nav-title-font-weight: 400 !default;
$list-item-nav-title-letter-spacing: normal !default;
$list-item-nav-title-line-height: 1.5 !default;

$list-item-nav-title-typography: (
  $list-item-nav-title-font-size,
  $list-item-nav-title-font-weight,
  $list-item-nav-title-letter-spacing,
  $list-item-nav-title-line-height,
  null
);
