@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list {
  --ve-padding-y: 8px;
  --ve-indent-padding: 0px;
  --ve-item-padding-x: 16px;
  --ve-item-avatar-size: calc(40px + var(--ve-density-offset));

  overflow: auto;
  position: relative;
  padding: var(--ve-padding-y) 0;
  @include tools.use-paper($list-paper);

  &--disabled {
    pointer-events: none;
    user-select: none;

    > [class*='v-list-'] {
      opacity: 0.6;
    }
  }

  &--nav {
    .ve-list-group + .ve-list-group,
    .ve-list-group + .ve-list-item,
    .ve-list-subheader + .ve-list-group-items,
    .ve-list-item + .ve-list-item {
      margin-block-start: 6px;
    }
  }
}