@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list {
  --ve-list-indent: 0px;
  overflow: auto;
  position: relative;
  padding: 8px 0;
  @include tools.use-paper($list-paper);
}