@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-list-item {
  $root: &;

  --ve-density-offset: 0px;
  --ve-default-min-height: 48px;
  --ve-min-height: calc(var(--ve-default-min-height) + var(--ve-density-offset));
  --ve-padding-y: calc(8px + var(--ve-density-offset));
  --ve-padding-x: var(--ve-item-padding-x, 16px);
  --ve-avatar-size: calc(40px + var(--ve-density-offset));
  --ve-avatar-margin: calc(var(--ve-padding-x));

  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  text-decoration: none;
  transition: .2s settings.$standard-easing;
  min-height: var(--ve-min-height);
  padding: var(--ve-padding-y) var(--ve-padding-x);
  @include tools.use-paper($list-item-paper);
  @include tools.overlay(#{&}__overlay);
  @include tools.states(#{&}__overlay);

  &--disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.6;
  }

  &--link {
    cursor: pointer;
  }

  &--prepend,
  .ve-list-group__items &--prepend {
    padding-inline-start: calc(var(--ve-padding-x) + var(--ve-indent-padding, 0px) + var(--ve-avatar-size) + var(--ve-avatar-margin)) !important;
  }

  // ListGroup
  .ve-list-group__items & {
    padding-inline-start: calc(var(--ve-padding-x) + var(--ve-indent-padding, 0px)) !important;
  }
}