@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: $list-item-padding;
  outline: none;
  text-decoration: none;
  transition: $list-item-transition;
  @include tools.use-paper($list-item-paper);
  @include tools.overlay(#{&}__overlay);
  @include tools.states(#{&}__overlay);

  $root: &;
  @at-root {
    @include tools.density('ve-list') using($modifier) {
      #{$root} {
        min-height: 48px + $modifier;
        padding: (8px + $modifier) 16px;
      }
    }
  }

  &--link {
    cursor: pointer;
  }

  // List Nav
  .ve-list--nav & {
    border-radius: $list-item-nav-border-radius;
  }

  // ListGroupItems
  .ve-list-group-items & {
    padding-inline-start: calc(#{$list-indent} + var(--ve-list-indent, 0px)) !important;
  }

  &--prepend,
  .ve-list-group-items &--prepend {
    padding-inline-start: calc(#{$list-indent} + var(--ve-list-indent, 0px) + #{$list-item-avatar-size} + #{$list-item-avatar-margin-start}) !important;
  }
}