@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list-group {
  --ve-parent-padding: var(--ve-indent-padding, 0px);

  &--prepend {
    --ve-parent-padding: calc(var(--ve-item-avatar-size, 40px) + var(--ve-indent-padding, 0px));
  }

  &__items {
    --ve-indent-padding: calc(var(--ve-item-padding-x, 16px) + var(--ve-parent-padding, 0px));
  }
}