@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

// Blocks
.ve-list {
  // CSS Variables
  // --ve-list---padding-y 8px
  // --ve-list---padding-x 0px
  --ve-indent-padding: 0px;
  --ve-offset: calc(var(--ve-size-offset, 0px) + var(--ve-density-offset, 0px));
  overflow: auto;
  overflow: overlay;
  position: relative;
  padding: var(--ve-list---padding-y, 8px) var(--ve-list---padding-x, 0px);
  @include tools.use-paper($list-paper);

  // Modifiers
  &--disabled {
    pointer-events: none;
    user-select: none;

    > [class*='v-list-'] {
      opacity: 0.6;
    }
  }

  &--nav {
    .ve-list-group + .ve-list-group,
    .ve-list-group + .ve-list-item,
    .ve-list-subheader + .ve-list-group-items,
    .ve-list-item + .ve-list-item {
      margin-block-start: 6px;
    }
  }
}