@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list-item-avatar {
  align-self: center;
  transition: inherit;
  transition-property: height, width;
  width: $list-item-avatar-size;
  height: $list-item-avatar-size;

  &--start {
    margin-inline-end: $list-item-avatar-margin-end;
  }

  &--end {
    margin-inline-start: $list-item-avatar-margin-start;
  }
}
