@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list-item-avatar {
  // CSS Variables
  // --ve-list-item-avatar---height 28px
  // --ve-list-item-avatar---margin-x 8px
  --ve-avatar---height: var(--ve-list-item-avatar---height, 28px);
  --ve-margin-x: var(--ve-list-item-avatar---margin-x, 8px);
  align-self: center;
  color: rgba(var(--ve-theme-on-surface), var(--ve-medium-emphasis-opacity));
  transition: inherit;
  transition-property: height, width;

  &--start {
    margin-inline-end: var(--ve-margin-x);
  }

  &--end {
    margin-inline-start: var(--ve-margin-x);
  }
}
