@forward './variables';
@use './variables' as *;
@use 'sass:math';
@use '../../../styles/tools';
@use '../../../styles/settings';

// Blocks
.ve-code {
  position: relative;
  font-size: $code-font-size;
  font-weight: $code-font-weight;
  background-color: rgb(var(--ve-theme-surface));
  color: rgb(var(--ve-theme-on-surface));
  @include tools.use-shape();
  @include tools.use-scrollbar();

  // Modifiers
  &--block {
    display: flex;
    line-height: 1.5;
  }

  // Elements
  &__language {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 0.85em;
    font-weight: 500;
    user-select: none;
    opacity: var(--ve-medium-emphasis-opacity);
  }

  &__lines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--show-line-numbers &__lines {
    padding: 0 16px;
    margin-right: 16px;
    border-right: 1px solid rgba(var(--ve-border-color), var(--ve-border-opacity));
  }

  &__line {
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 0.85em;
    line-height: #{math.div(1.5, 0.85)};
    user-select: none;

    &-overlay {
      position: absolute;
      left: 0;
      width: 100%;
      line-height: inherit;
      background-color: rgba(0, 0, 0, var(--ve-medium-emphasis-opacity));
      border-radius: inherit;
      pointer-events: none;
    }

    &-number {
      position: relative;
      opacity: var(--ve-medium-emphasis-opacity);
    }
  }

  &__preformatted {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
  }

  /**
   * 颜色风格
   */
  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }

  .token.punctuation {
    color: #a8a9cc;
  }

  .token.attr-name {
    color: #690;
  }

  .token.tag,
  .token.namespace,
  .token.deleted {
    color: #dd4a68;
  }

  .token.function-name {
    color: #6196cc;
  }

  .token.boolean,
  .token.number,
  .token.function {
    color: #c25205;
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #4078f2;
  }

  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #07a;
  }

  .token.string,
  .token.char {
    color: #690;
  }

  .token.regex,
  .token.attr-value,
  .token.variable {
    color: #07a;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #0b7e7d;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.inserted {
    color: green;
  }
}
