@forward './variables';
@use './variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

// Blocks
.ve-code {
  position: relative;
  border-radius: map-get(settings.$rounded, 'sm');
  font-size: $code-font-size;
  font-weight: $code-font-weight;

  // Modifiers
  &--inline {
    padding: $code-padding;
  }

  &--block {
    --ve-padding: 20px;
    display: flex;
    line-height: 1.4;
  }

  // Elements
  &__language {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.85em;
    user-select: none;
  }

  &--line-numbers &__language {
    top: 6px;
    right: 12px;
  }

  &__lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--ve-padding) 0;
    color: #c4c4c6;
    border-right: 1px solid #e7e6e6;
  }

  &__line {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 var(--ve-padding);
    font-size: 0.85em;
    line-height: 1.6470588235294117;
    user-select: none;

    &-overlay {
      display: none;
      color: transparent !important;
      position: absolute;
      left: 0;
      width: 100%;
      line-height: inherit;
      opacity: .12;
    }

    &--highlighted &-overlay {
      display: block;
    }

    &-number {
      position: relative;
    }
  }

  &--line-numbers &__preformatted {
    padding: var(--ve-padding);
  }

  &__preformatted {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    overflow: overlay;
  }

  /**
   * 颜色风格
   */
  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #999;
  }

  .token.punctuation {
    color: #a8a9cc;
  }

  .token.attr-name {
    color: #690;
  }

  .token.tag,
  .token.namespace,
  .token.deleted {
    color: #dd4a68;
  }

  .token.function-name {
    color: #6196cc;
  }

  .token.boolean,
  .token.number,
  .token.function {
    color: #c25205;
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #4078f2;
  }

  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #07a;
  }

  .token.string,
  .token.char {
    color: #690;
  }

  .token.regex,
  .token.attr-value,
  .token.variable {
    color: #07a;
  }

  .token.operator,
  .token.entity,
  .token.url {
    color: #0b7e7d;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.inserted {
    color: green;
  }
}