@use 'sass:map';
@use 'sass:math';
@use '../../../styles/theme/variables' as *;
@use '../../../styles/tools';

@mixin button-sizes($map) {
  @each $sizeName, $multiplier in $size-scales {
    $height: map.get($map, 'height') + (0.5rem * $multiplier);
    $padding-y: math.div($height, map.get($map, 'padding-ratio'));

    &--size-#{$sizeName} {
      font-size: map-get($map, 'font-size') + 2 * math.div($multiplier, 16);
      padding: math.div($padding-y, 2) $padding-y;
    }
  }
}
