@use 'sass:map';
@use 'sass:math';
@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  letter-spacing: $button-text-letter-spacing;
  text-transform: $button-text-transform;
  transition-property: border-color, transform, opacity, color;
  transition-duration: 0.28s;
  transition-timing-function: settings.$standard-easing;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  @include tools.use-border($button-border...);
  @include tools.use-variant($button-variant...);
  @include tools.use-rounded($button-border-radius);
  @include tools.use-position();

  @each $name, $multiplier in settings.$size-scales {
    $height: map.get($button-sizes, 'height') + 4 * $multiplier;
    $size: map.get($button-sizes, 'font-size') + 4 * $multiplier;

    &--size-#{$name} {
      --ve-button-size: #{$size};
      --ve-button-height: #{$height};
      height: $height;
      font-size: $size;
      min-width: tools.roundEven($height * map.get($button-sizes, 'width-ratio'));
      padding: 0 math.div($height, map.get($button-sizes, 'padding-ratio'));
    }
  }

  &--icon {
    padding: 0;
    min-width: auto;
    height: var(--ve-button-height, auto);
    width: var(--ve-button-height, auto);
  }

  &--icon {
    --ve-variant-border-width: 0;
    padding: 2px;
    border-radius: $button-icon-border-radius;
    font-size: $button-icon-font-size;
  }

  &__overlay {
    @include tools.absolute();
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &:not(&--disabled) {
    @include tools.states('.ve-button__overlay', false);
  }

  &--block {
    min-width: 100%;
  }

  &--disabled {
    color: rgba(var(--ve-theme-on-surface), $button-disabled-opacity);
  }

  &--disabled &__overlay {
    opacity: math.div($button-disabled-overlay, $button-disabled-opacity);
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--loading {
    cursor: wait;
  }

  &__progress {
    margin-right: 0.25rem;
  }

  // VeAppBarItems
  .ve-app-bar-items & {
    border-radius: 0;
    height: 100% !important;
    border-width: 0;
  }
}