@use '../../../styles/tools';
@use '../../../styles/settings';

// Blocks
.ve-tag-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 0;
  overflow-x: auto;
  padding: 3px 0 3px 6px;

  .ve-tag {
    margin: 3px 6px 3px 0;
  }

  // Modifiers
  &--column {
    flex-wrap: wrap;
    white-space: normal;
  }
}