@import './_variables';

.ve-input {
  display: inline-flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  padding: $input-padding;
  @include border($input-border...);
  @include variant($input-variant...);

  &--disabled,
  &--disabled .ve-input__input-el {
    cursor: not-allowed;
    background-color: $input-disabled-background;
    color: $input-disabled-color;
  }

  &__prefix,
  &__suffix {
    display: flex;
    align-items: center;
    align-self: center;
    white-space: nowrap;
  }

  &__prefix {
    margin-inline-end: 0.5rem;
  }

  &__input {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;

    &-el {
      display: block;
      outline: none;
      width: 100%;
    }
  }
}
