@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-input {
  display: inline-flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  padding: $input-padding;
  @include tools.use-border($input-border...);
  @include tools.use-rounded($input-border-radius);
  @include tools.use-variant($input-variant...);

  &__prefix,
  &__suffix {
    display: flex;
    align-items: center;
    align-self: center;
    white-space: nowrap;
  }

  &__prefix {
    margin-inline-end: 0.5rem;
  }

  &__suffix {
    margin-inline-start: 0.5rem;
  }

  &--textarea {
    width: 100%;
  }

  &--textarea &__prefix,
  &--textarea &__suffix {
    align-self: start;
  }

  &--autosize &__el {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &--disabled,
  &--disabled &__el {
    cursor: not-allowed;
    background-color: $input-disabled-background;
    color: $input-disabled-color;
  }

  &__wrap {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &__el,
  &__mirror {
    display: inline-block;
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    vertical-align: bottom;
    padding-left: 0;
    margin: 0;
    padding-right: 0;
    overflow: hidden;
    color: inherit;
  }

  &__mirror {
    pointer-events: none;
    overflow: hidden;
    visibility: hidden;
    position: static;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}
