@use 'sass:map';
@use 'sass:math';
@use '../../../styles/tools';
@use '../../../styles/settings';

$tag-background: rgb(var(--ve-theme-surface-variant)) !default;
$tag-color: rgb(var(--ve-theme-on-surface-variant)) !default;
$tag-text-color: rgb(var(--ve-theme-on-secondary)) !default;
$tag-height: 32px !default;
$tag-font-size: tools.map-deep-get(settings.$typography, 'button', 'size') !default;

$tag-paper: () !default;
$tag-paper: tools.map-deep-merge(
    (
      'variants': (
        'contained': (
          'background': $tag-background,
          'color': $tag-color,
        ),
        'text': (
          'color': $tag-text-color,
        )
      ),
    ),
    $tag-paper
);