@forward 'variables';
@use 'sass:math';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-tag {
  display: inline-flex;
  align-items: center;
  align-self: center;
  position: relative;
  padding: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  @include tools.use-paper($tag-paper);

  @each $name, $multiplier in settings.$sizes {
    &--size-#{$name} {
      font-size: #{math.max(12px, 14px + $multiplier * 1px)};
    }
  }
}