@forward 'variables';
@use 'sass:math';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

// Blocks
.ve-tag {
  $root: &;
  // CSS Variables
  // --ve-tag---font-size $tag-font-size
  // --ve-tag---height $tag-height
  --ve-font-size: calc(var(--ve-tag---font-size, #{$tag-font-size}) + var(--ve-font-size-offset, 0px));
  --ve-height: calc(var(--ve-tag---height, #{$tag-height}) + var(--ve-size-offset, 0px) + var(--ve-density-offset, 0px));
  --ve-padding-x: calc(var(--ve-height) / 4);
  // Avatar
  --ve-avatar---height: calc(var(--ve-height) - 8px);
  --ve-avatar---font-size: var(--ve-font-size);
  --ve-avatar--icon---height: auto;
  --ve-avatar--icon---font-size: var(--ve-font-size);
  // Button
  --ve-button---height: auto;
  --ve-button--icon-only---font-size: var(--ve-font-size);
  align-items: center;
  align-self: center;
  display: inline-flex;
  font-weight: 400;
  font-size: var(--ve-font-size);
  height: var(--ve-height);
  overflow: hidden;
  position: relative;
  padding: 0 var(--ve-padding-x);
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  @include tools.use-paper($tag-paper);
  @include tools.overlay(#{&}__overlay, 0, visible);
  @include tools.states(#{&}__overlay);

  // Modifiers
  @each $name, $multiplier in settings.$sizes {
    &--size-#{$name} {
      --ve-size-offset: #{$multiplier * 6px};
      --ve-font-size-offset: #{math.div(2 * $multiplier, 16)}px;
    }
  }

  &--link {
    cursor: pointer;
  }

  &--shape-pill {
    --ve-avatar---height: var(--ve-height);
  }

  // Elements
  &__prepend,
  &__append,
  &__close {
    align-items: center;
    display: inline-flex;
  }

  &__prepend {
    margin-inline-start: calc(var(--ve-padding-x) * -0.5);
    margin-inline-end: calc(var(--ve-padding-x) * 0.5);
  }

  #{$root}--shape-pill &__prepend {
    margin-inline-start: calc(var(--ve-padding-x) * -1);
  }

  &__append,
  &__close {
    margin-inline-end: calc(var(--ve-padding-x) * -0.5);
    margin-inline-start: calc(var(--ve-padding-x) * 0.5);
  }

  #{$root}--shape-pill &__append {
    margin-inline-end: calc(var(--ve-padding-x) * -1);
  }
}