.ve-overlay {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  pointer-events: none;

  // Elements
  &__wrapper {
    contain: layout;
    outline: none;
    position: absolute;
    pointer-events: auto;
  }

  // Modifiers
  &--absolute {
    position: absolute;
  }

  &--contained .ve-scrim {
    position: absolute;
  }

  &--scroll-blocked {
    padding-inline-end: var(--ve-scrollbar-offset);
  }
}

.ve-overlay-container {
  display: contents;
  contain: layout;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.ve-overlay-scroll-blocked {
  overflow-y: hidden !important;
  padding-inline-end: var(--ve-scrollbar-offset);

  // CardText
  &.ve-card-text {
    padding-inline-end: calc(var(--ve-padding-x) + var(--ve-scrollbar-offset));
  }
}