.ve-textarea {
  .ve-native-control {
    align-self: stretch;
    flex: 1 1 auto;
    outline: none;
    line-height: 1.75;
  }

  &--no-resize .ve-native-control {
    resize: none;
  }

  &--auto-grow .ve-native-control {
    overflow: hidden;
  }

  &.ve-form-control--layout-horizontal .ve-form-control__label {
    align-items: start;
    line-height: 1.75;
    padding-block-start: 6px;
  }

  &__sizer {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 0 !important;
    pointer-events: none;
  }
}
