// Blocks
.ve-date-picker-panel {
  display: inline-block;

  // Elements
  &__date {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__row {
    & + & {
      margin-top: 4px;
    }
  }

  &__cell {
    display: inline-block;
    padding: 2px;

    // Modifiers
    &--other-month {
      opacity: var(--ve-disabled-opacity);
    }

    &--range-in {
      background-color: rgba(var(--ve-theme-primary), var(--ve-activated-opacity));
    }

    &--range-start {
      border-radius: 50% 0 0 50%;
    }

    &--range-end {
      border-radius: 0 50% 50% 0;
    }
  }
}