@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-paper {
  position: relative;
  display: block;

  @include tools.use-paper((
    'use-size': false,
    'use-density': false,
  ));

  @each $name, $multiplier in settings.$sizes {
    &--size-#{$name} {
      $height: 80px + $multiplier * settings.$spacer * 2;
      --ve-paper-height: #{$height};
      width: $height;
      height: $height;
    }
  }

  @each $name, $multiplier in settings.$densities {
    &--density-#{$name} {
      height: calc(var(--ve-paper-height) + #{$multiplier * settings.$spacer * 2});
    }
  }

  &--text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}