@use '../../../styles/settings';

$app-bar-background: rgb(var(--ve-theme-surface)) !default;
$app-bar-color: rgb(var(--ve-theme-on-surface)) !default;

$app-bar-padding-end: 1rem !default;
$app-bar-padding-start: 1rem !default;

// border
$app-bar-border-color: settings.$border-color !default;
$app-bar-border-radius: map-get(settings.$rounded, '0') !default;
$app-bar-border-style: settings.$border-style !default;
$app-bar-border-width: 0 !default;
$app-bar-border-thin-width: 0 0 thin !default;
$app-bar-borders: (
  'default': (
    'color':$app-bar-border-color,
    'style':$app-bar-border-style,
    'width': $app-bar-border-width,
  ),
  'existence': (
    'width': $app-bar-border-thin-width,
  )
) !default;

// title
$app-bar-title-font-size: 18px !default;
$app-bar-title-padding: 6px 20px !default;