@forward 'variables';
@use 'variables' as *;

.ve-app-bar-title {
  font-size: $app-bar-title-font-size;
  font-weight: $app-bar-title-font-weight;
  padding: $app-bar-title-padding;
  line-height: 1.6;

  &__wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}




