@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-app-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  padding-left: $app-bar-padding-start;
  padding-right: calc(#{$app-bar-padding-end} + var(--ve-scrollbar-offset));
  position: fixed;
  transition: .2s settings.$standard-easing;
  transition-property: height, transform;
  color: $app-bar-color;
  background: $app-bar-background;
  @include tools.use-border(('borders': $app-bar-borders));

  &__wrap {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    transition: inherit;
    width: 100%;
  }
}




