@use '../../../styles/tools';

.ve-fade-expand-transition {
  @include tools.use-transition(visible);

  &-leave-from,
  &-enter-to {
    transform: scale(1);
    opacity: 1;
  }

  &-leave-to,
  &-enter-from {
    transform: scale(0.85);
    opacity: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}