@use '../../../styles/tools';

.ve-modal-transition {
  @include tools.use-transition();

  &-enter-active,
  &-leave-active {
    transition-property: transform, opacity;
    pointer-events: none;
  }

  &-enter-from, &-leave-to {
    transform: scale(0.9);
    opacity: 0;
  }

  &-enter-to, &-leave-from {
    opacity: 1;
  }
}