@use '../../../styles/settings/variables' as *;
@use '../../../styles/tools';

.ve-switch {
  vertical-align: middle;
  user-select: none;
  display: inline-flex;
  outline: none;
  justify-content: center;
  align-items: center;

  @include tools.use-rounded();

  &__track {
    overflow: hidden;
    height: 22px;
    min-width: 40px;
    border-radius: inherit;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0.14);
    transition-property: background-color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .3s;
  }

  &__thumb {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    height: 18px;
    width: 24px;
    max-width: 18px;
    border-radius: inherit;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), inset 0 0 1px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    cursor: inherit;
    transition-property: background-color, left, opacity, max-width, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .3s;
  }

  &--active &__thumb {
    left: calc(100% - (20px + 18px) / 2);
  }
}