@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-menu {
  .ve-overlay__wrapper {
    display: flex;
    flex-direction: column;
    border-radius: map-get(settings.$rounded, 'sm');

    > .ve-card,
    > .ve-list {
      background: rgb(var(--ve-theme-surface));
      border-radius: inherit;
      height: 100%;
      border: thin solid rgba(var(--ve-border-color), var(--ve-border-opacity));
      @include tools.elevation(8);
    }

    > .ve-list {
      // ListItem
      --ve-list-item---min-height: 32px;
      --ve-list-item---padding-y: 0px;
      --ve-list-item---padding-x: 12px;
      // AvatarIcon
      --ve-avatar--icon---height: auto;
    }
  }
}