.ve-pagination {
  display: flex;
  align-items: center;

  &__wrapper {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
  }

  &__item,
  &__first,
  &__prev,
  &__next,
  &__last {
    margin: 4px;
  }

  &__per-page,
  &__quick-jumper {
    margin: 4px 6px;
  }

  &__quick-jumper {
    display: flex;
    align-items: center;
  }
}