@use '../../../styles/settings';

$sider-background: rgb(var(--ve-theme-surface)) !default;

$sider-border-color: settings.$border-color !default;
$sider-border-style: settings.$border-style !default;
$sider-border-width: 0 !default;
$sider-border-thin-width: thin !default;
$sider-border-radius: map-get(settings.$rounded, '0') !default;
$sider-borders: (
  'default': (
    'color': $sider-border-color,
    'style': $sider-border-style,
    'width': $sider-border-width,
  ),
  'existence': (
    'width': $sider-border-thin-width,
  )
) !default;