@forward 'variables';
@use 'variables' as *;

.ve-app {
  --ve-scrollbar-offset: 0px;
  position: relative;
  display: flex;
  flex: 1 1 auto;
  background: rgb(var(--ve-theme-background));
  color: rgb(var(--ve-theme-on-background));

  &--full-height {
    --ve-scrollbar-offset: inherit;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    backface-visibility: hidden;
    flex-direction: column;
    max-width: 100%;
  }
}




