@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-app {
  background-color: rgb(var(--ve-theme-background));
  color: rgb(var(--ve-theme-on-background));
  @include tools.use-layout();

  &__wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    backface-visibility: hidden;
    min-height: 100vh;
    max-width: 100%;
  }
}




