@use 'sass:map';
@use '../../../styles/settings';
@use '../../../styles/tools';

$selection-control-disabled-color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity)) !default;
$selection-control-error-color: rgb(var(--ve-theme-error)) !default;
$selection-control-density: ('medium': 0, 'comfortable': -0.5, 'compact': -1) !default;
$selection-control-color: rgba(var(--ve-theme-on-surface), var(--ve-high-emphasis-opacity)) !default;
$selection-control-height: 24px !default;
