@import '../../../styles/theme-mixins';
@import './mixins';

// color
$button-background: rgb(var(--v-theme-surface)) !default;
$button-color: rgb(var(--v-theme-on-surface)) !default;

// disabled
$button-disabled-opacity: 0.26 !default;
$button-disabled-overlay: 0.12 !default;

// size
$button-height: 36px !default;
$button-font-size: .875rem !default;

// ratio
$button-width-ratio: 16/9 !default;
$button-padding-ratio: 2.25 !default;

// border
$button-border-color: $border-color !default;
$button-border-style: $border-style !default;
$button-border-width: 0 !default;
$button-border-thin-width: thin !default;
$button-border-radius: $border-radius !default;
$button-border: (
  $button-border-color,
  $button-border-style,
  $button-border-width,
  $button-border-thin-width
) !default;

// variant
$button-variant: (
  $button-background,
  $button-color
) !default;

$button-sizes: () !default;
$button-sizes: map-merge(
    (
      'height': $button-height,
      'font-size': $button-font-size,
      'width-ratio': $button-width-ratio,
      'padding-ratio': $button-padding-ratio
    ),
    $button-sizes
);