@forward 'variables';
@use 'mixins' as *;
@use 'variables' as *;
@use '../../../styles/tools' as *;
@use '../../../styles/theme/variables' as *;

.ve-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: $button-border-radius;
  transition-property: border-color, transform, opacity, color;
  transition-duration: 0.28s;
  transition-timing-function: $standard-easing;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  @include button-sizes($button-sizes);
  @include border($button-border...);
  @include use-variant($button-variant...);
  @include use-rounded();

  &:not(&--loading):not(&--disabled):not(&--variant-text) {
    @include states('.ve-btn__overlay', false);
  }

  &--variant-text {
    padding: 0;
  }

  &__overlay {
    @include absolute(false);
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &--block {
    min-width: 100%;
  }

  &--disabled,
  &--loading {
    color: rgba(var(--v-theme-on-surface), $button-disabled-opacity);

    .ve-btn__overlay {
      opacity: $button-disabled-overlay / $button-disabled-opacity;
    }
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--loading {
    cursor: wait;
  }
}