@use 'sass:math';
@forward 'variables';
@use 'mixins' as *;
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/theme/variables' as *;

.ve-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: $button-border-radius;
  transition-property: border-color, transform, opacity, color;
  transition-duration: 0.28s;
  transition-timing-function: $standard-easing;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  @include button-sizes($button-sizes);
  @include tools.border($button-border...);
  @include tools.use-variant($button-variant...);
  @include tools.use-rounded();

  &--variant-text {
    padding: 0;
  }

  &--icon {
    border-radius: $button-icon-border-radius;
    min-width: 0;
    padding: 0;
    font-size: $button-icon-font-size;
  }

  &__overlay {
    @include tools.absolute(false);
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &:not(&--loading):not(&--disabled) {
    @include tools.states('.ve-btn__overlay', false);
  }

  &--block {
    min-width: 100%;
  }

  &--disabled,
  &--loading {
    color: rgba(var(--v-theme-on-surface), $button-disabled-opacity);

    .ve-btn__overlay {
      opacity: math.div($button-disabled-overlay, $button-disabled-opacity);
    }
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--loading {
    cursor: wait;
  }
}