@use '../../../styles/tools/functions';

$densities: (
  'compact': -2,
  'comfortable': -1,
  'medium': 0
) !default;

$density-props: () !default;
$density-props: functions.map-deep-merge(
    (
      'use-density': true,
      'densities': $densities,
    ),
    $density-props
);