@use '../../../styles/tools/functions';

$densities: (
  'ultra-high': -2,
  'high': -1,
  'medium': 0,
  'low': 1,
  'ultra-low': 2,
) !default;

$density-props: () !default;
$density-props: functions.map-deep-merge(
    (
      'use-density': true,
      'densities': $densities,
    ),
    $density-props
);