@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-switch {
  .ve-selection-control {
    height: var(--ve-form-control-height);
  }

  &__track {
    position: relative;
    cursor: pointer;
    transition: .3s settings.$standard-easing;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    min-width: 40px;
    color: rgba(var(--ve-theme-on-surface), .2);
    background-color: currentColor;
    border-radius: 12px;
    opacity: var(--ve-medium-emphasis-opacity);
  }

  &__thumb {
    position: absolute;
    height: 18px;
    width: 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: 0.15s transform cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FFF;
  }

  .ve-selection-control__input {
    position: absolute;
    border-radius: 50%;
    transition: 0.15s transform cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-10px);
  }

  .ve-selection-control--dirty .ve-selection-control__input {
    transform: translateX(10px);
  }
}