@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-switch {
  .ve-selection-control {
    display: flex;
    height: var(--ve-form-control-height);
  }

  .ve-selection-control__wrapper {
    width: auto;
  }

  .ve-selection-control__input {
    position: absolute;
    width: var(--ve-selection-control-height);
    height: var(--ve-selection-control-height);
    border-radius: 50%;
    transition: .15s settings.$standard-easing;
    transition-property: transform;
    transform: translateX(-8px);
  }

  .ve-selection-control--dirty .ve-selection-control__input {
    transform: translateX(8px);
  }

  &__track {
    position: relative;
    cursor: pointer;
    transition: .3s settings.$standard-easing;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 40px;
    color: rgba(var(--ve-theme-on-surface), .2);
    background-color: currentColor;
    border-radius: 12px;
    opacity: var(--ve-medium-emphasis-opacity);
  }

  &__thumb {
    position: absolute;
    height: calc(.75 * var(--ve-selection-control-height));
    width: calc(.75 * var(--ve-selection-control-height));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: 0.15s transform cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FFF;
  }
}