@use 'sass:map';
@use 'variables';
@use '../../../styles/tools/functions' as tools;

@mixin use-variant($props: ()) {
  $props: tools.map-deep-merge(variables.$variant-props, $props);
  $variants: map.get($props, 'variants');

  &--variant-contained {
    background: tools.map-deep-get($variants, 'contained', 'background');
    color: tools.map-deep-get($variants, 'contained', 'color');
  }

  &--variant-text,
  &--variant-outlined {
    background: transparent;
    color: inherit;
  }

  &--variant-outlined {
    border-width: thin;
    border-color: currentColor;
  }
}