@use 'sass:map';
@use 'variables';
@use '../../../styles/tools/functions';

@mixin use-variant($props: ()) {
  $props: functions.map-deep-merge(variables.$variant-props, $props);
  $variants: map.get($props, 'variants');

  &--variant-outlined,
  &--variant-text {
    background: transparent;
    color: inherit;
  }

  &--variant-contained {
    background: functions.map-deep-get($variants, 'contained', 'background');
    color: functions.map-deep-get($variants, 'contained', 'color');
    border-width: functions.map-deep-get($variants, 'contained', 'border-width');
  }

  &--variant-outlined {
    border-width: thin;
    border-color: currentColor;
  }
}