@use '../../../styles/tools/functions';

$variants: () !default;
$variants: functions.map-deep-merge(
    (
      'contained': (
        'background': rgb(var(--ve-theme-surface)),
        'color': rgb(var(--ve-theme-on-surface))
      ),
      'text': (
        'color': inherit
      )
    ),
    $variants
);

$variant-props: () !default;
$variant-props: functions.map-deep-merge(
    (
      'variants': $variants,
    ),
    $variant-props
);