@use '../settings/variables' as *;

html {
  font-family: $font-family;
  line-height: $line-height;
  font-size: $font-size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.overflow-y-hidden {
  overflow-y: hidden !important;
}

:root {
  --ve-theme-background: 255, 255, 255;
  --ve-theme-on-background: 0, 0, 0;
  --ve-theme-surface: 255, 255, 255;
  --ve-theme-on-surface: 0, 0, 0;
  --ve-theme-overlay-multiplier: 1;
  --ve-scrollbar-offset: 0px;
}

// iOS Safari hack to allow click events on body
@supports (-webkit-touch-callout: none) {
  body {
    cursor: pointer
  }
}
