@use 'sass:map';
@use '../settings';

.beautify-scrollbar {
  &:hover::-webkit-scrollbar {
    display: block;
  }

  &::-webkit-scrollbar {
    display: none;
    height: 10px;
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(var(--ve-theme-on-background), var(--ve-disabled-opacity)) content-box;
    border: 2px solid transparent;
    border-radius: #{map.get(settings.$rounded, 'lg')};

    &:hover {
      background: rgba(var(--ve-theme-on-background), var(--ve-medium-emphasis-opacity)) content-box;
    }
  }
}