@use 'sass:math';
@use '../../../styles/tools/functions';
@use '../../../styles/settings/border' as settings;

$border-props: () !default;
$border-props: functions.map-deep-merge(
    (
      'border': (
        'color': settings.$border-color,
        'style': settings.$border-style,
        'width': 0px,
      ),
      'borders': (
        null: (
          'width': settings.$border-width,
        ),
      ),
    ),
    $border-props
);