@use 'sass:math';
@use '../../../styles/tools/functions';

$border-color: rgba(var(--ve-border-color), var(--ve-border-opacity)) !default;
$border-style: solid !default;
$border-width: thin !default;

$border-props: () !default;
$border-props: functions.map-deep-merge(
    (
      'borders': (
        null: (
          'color': $border-color,
          'style': $border-style,
          'width': $border-width,
          'important': false,
        ),
        '': (
          'width': $border-width,
        )
      )
    ),
    $border-props
);