@use 'sass:map';
@use '../../../styles/settings';

// color
$avatar-background: rgb(var(--ve-theme-surface)) !default;
$avatar-color: rgb(var(--ve-theme-on-surface)) !default;

// border
$avatar-border-color: settings.$border-color !default;
$avatar-border-style: settings.$border-style !default;
$avatar-border-width: 0 !default;
$avatar-border-thin-width: thin !default;
$avatar-border-radius: settings.$border-radius !default;

$avatar-material: (
  'variants': (
    'contained': (
      'background': $avatar-background,
      'color': $avatar-color,
    ),
  ),
  'sizes': (
    'x-small': -4,
    'small': -2,
    'medium': 0,
    'large': 2,
    'x-large': 4
  ),
  'borders': (
    'default': (
      'color': $avatar-border-color,
      'style': $avatar-border-style,
      'width': $avatar-border-width,
    ),
    'existence': (
      'width': $avatar-border-thin-width,
    ),
  ),
  'positions': absolute fixed,
  'shapes': (
    'default': $avatar-border-radius,
  )
) !default;
