@forward 'variables';
@use 'variables' as *;
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-avatar {
  --ve-size-offset: 0px;
  --ve-density-offset: 0px;
  --ve-default-height: 40px;
  --ve-height: calc(var(--ve-default-height) + var(--ve-size-offset) + var(--ve-density-offset));
  --ve-width: var(--ve-height);

  align-items: center;
  display: inline-flex;
  height: var(--ve-height);
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: var(--ve-width);
  @include tools.use-paper($avatar-paper);

  &--link {
    cursor: pointer;
  }

  > * {
    border-radius: inherit;
  }

  &__wrapper {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    left: 50%;
    top: 50%;
  }
}