@forward 'variables';
@use 'variables' as *;
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-avatar {
  --ve-avatar-size: calc(40px + var(--ve-avatar-size-offset, 0px) + var(--ve-avatar-density-offset, 0px));
  align-items: center;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  width: var(--ve-avatar-size);
  height: var(--ve-avatar-size);
  @include tools.use-paper($avatar-paper);

  > .ve-image {
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }

  &__wrapper {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    left: 50%;
    top: 50%;
  }

  // VeList
  .ve-list-item-avatar & {
    overflow: visible;
    height: inherit;
    width: inherit;
  }
}