@use "sass:map";
@use "../../../styles/settings";

$avatar-border-color: settings.$border-color !default;
$avatar-border-style: settings.$border-style !default;
$avatar-border-width: 0 !default;
$avatar-border-thin-width: thin !default;
$avatar-border-radius: settings.$border-radius !default;
$avatar-border: (
  $avatar-border-color,
  $avatar-border-style,
  $avatar-border-width,
  $avatar-border-thin-width
) !default;

