@use 'sass:map';
@use '../../../styles/settings';

$avatar-border-color: settings.$border-color !default;
$avatar-border-style: settings.$border-style !default;
$avatar-border-width: 0 !default;
$avatar-border-thin-width: thin !default;
$avatar-border-radius: settings.$border-radius !default;

$avatar-material: (
  'borders': (
    'default': (
      'color': $avatar-border-color,
      'style': $avatar-border-style,
      'width': $avatar-border-width,
    ),
    'existence': (
      'width': $avatar-border-thin-width,
    ),
  ),
  'shapes': (
    'default': $avatar-border-radius,
  )
) !default;
