@use "sass:map";
@use "../../../styles/theme/border";

$avatar-border-color: border.$border-color !default;
$avatar-border-style: border.$border-style !default;
$avatar-border-width: 0 !default;
$avatar-border-thin-width: thin !default;
$avatar-border-radius: border.$border-radius !default;
$avatar-border: (
  $avatar-border-color,
  $avatar-border-style,
  $avatar-border-width,
  $avatar-border-thin-width
) !default;

