@forward 'variables';
@use 'variables' as *;
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-avatar {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  @include tools.use-material($avatar-material);

  @each $name, $multiplier in settings.$sizes {
    $size: 40px + 8px * $multiplier;
    &--size-#{$name} {
      width: $size;
      height: $size;
      --ve-avatar-height: #{$size};
    }
  }

  @each $name, $multiplier in settings.$densities {
    $value: calc(var(--ve-avatar-height) + #{4px * $multiplier});
    &--density-#{$name} {
      height: $value;
      width: $value;
    }
  }

  > .ve-image {
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }

  &__wrap {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    left: 50%;
    top: 50%;
  }

  // VeList
  .ve-list-item-avatar & {
    overflow: visible;
    height: inherit;
    width: inherit;
  }
}