@forward 'variables';
@use 'variables' as *;
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-avatar {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  @include tools.use-border($avatar-border...);
  @include tools.use-rounded($avatar-border-radius);
  @include tools.use-variant();

  @each $name, $multiplier in settings.$size-scales {
    $size: 40px + (settings.$size-scale * $multiplier);
    &--size-#{$name} {
      height: $size;
      width: $size;
    }
  }

  > .ve-image {
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }

  &__wrap {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    left: 50%;
    top: 50%;
  }

  // VeList
  .ve-list-item-avatar & {
    overflow: visible;
    height: inherit;
    width: inherit;
  }
}