@use '../../../styles/settings';

$app-sider-background: rgb(var(--ve-theme-surface)) !default;

$app-sider-border-color: settings.$border-color !default;
$app-sider-border-style: settings.$border-style !default;
$app-sider-border-width: 0 !default;
$app-sider-border-thin-width: thin !default;
$app-sider-border-radius: map-get(settings.$rounded, '0') !default;
$app-sider-border: (
  $app-sider-border-color,
  $app-sider-border-style,
  $app-sider-border-width,
  $app-sider-border-thin-width
) !default;