@use '../../../styles/tools/functions';

$sizes: (
  'x-small': -2,
  'small': -1,
  'medium': 0,
  'large': 1,
  'x-large': 2
) !default;

$size-props: () !default;
$size-props: functions.map-deep-merge(
    (
      'use-size': true,
      'sizes': $sizes,
    ),
    $size-props
);