@use '../../../styles/tools/functions';

$sizes: (
  'xs': -2,
  'sm': -1,
  'md': 0,
  'lg': 1,
  'xl': 2
) !default;

$size-props: () !default;
$size-props: functions.map-deep-merge(
    (
      'use-size': true,
      'sizes': $sizes,
    ),
    $size-props
);