@use '../../../styles/settings';
@use 'sass:map';

.ve-tooltip {
  --ve-tooltip-arrow-height: 6px;
  --ve-tooltip-arrow-offset: 14px;

  .ve-overlay__content {
    background: rgba(var(--ve-theme-on-surface), 0.9);
    color: rgb(var(--ve-theme-surface));
    border-radius: 4px;
    font-size: .875rem;
    display: inline-block;
    padding: 8px 14px;
    text-transform: initial;
    width: auto;

    &[class*="enter-active"] {
      transition-timing-function: settings.$decelerated-easing;
      transition-duration: 150ms;
    }

    &[class*="leave-active"] {
      transition-timing-function: settings.$accelerated-easing;
      transition-duration: 150ms;
    }
  }

  &__arrow {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: calc(var(--ve-tooltip-arrow-height) * 1.414);
      height: calc(var(--ve-tooltip-arrow-height) * 1.414);
      background: rgba(var(--ve-theme-on-surface), 0.9);
      box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
      transform: rotate(45deg);
      pointer-events: all;
    }
  }

  $arrows: (
    'top': (
      'side': 'top',
      'opposite-side': 'bottom',
    ),
    'bottom': (
      'side': 'bottom',
      'opposite-side': 'top',
    ),
    'start': (
      'side': 'left',
      'opposite-side': 'right',
    ),
    'end': (
      'side': 'right',
      'opposite-side': 'left',
    ),
  );

  @each $name, $value in $arrows {
    $side: map.get($value, 'side');
    $is-vertical: $side == 'top' or $side == 'bottom';

    &.ve-overlay--side-#{$name} &__arrow {
      #{map.get($value, 'opposite-side')}: auto;
      #{$side}: 100%;
      #{if($is-vertical, 'height', 'width')}: 10px;

      &:before {
        #{$side}: calc(-0.707 * var(--ve-tooltip-arrow-height));
      }
    }

    &.ve-overlay--side-#{$name}.ve-overlay--align-center &__arrow {
      &:before {
        #{if($is-vertical, 'left', 'top')}: 50% !important;
        transform: if(
            $is-vertical,
            translateX(calc(-0.707 * var(--ve-tooltip-arrow-height))) rotate(45deg),
            translateY(calc(-0.707 * var(--ve-tooltip-arrow-height))) rotate(45deg)
        );
      }
    }

    &.ve-overlay--align-#{$name} &__arrow {
      &:before {
        #{$side}: var(--ve-tooltip-arrow-offset);
      }
    }
  }
}