@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-divider {
  display: flex;
  align-items: center;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  @include tools.use-border();

  &--dashed {
    border-style: dashed;
  }

  &--vertical {
    display: inline-block;
    height: 1em;
    width: 0;
    border-top-width: 0;
    border-left-width: thin;
    vertical-align: middle;
  }

  &:not(&--text) {
    border-top-width: 1px;
  }

  &--text-left &__line:first-child {
    max-width: 5%;
  }

  &--text-right &__line:last-child {
    max-width: 5%;
  }

  &__line {
    position: relative;
    content: '';
    height: 0;
    flex: 1;
    border-top-width: thin;
    border-top-style: inherit;
    border-top-color: inherit;
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
    color: inherit;
  }
}
