@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-alert {
  position: relative;
  padding: 16px;
  display: flex;
  @include tools.use-border();
  @include tools.use-variant();
  @include tools.use-rounded();

  &__icon {
    margin-right: 8px;
  }

  &__close {
    margin-left: 8px;
  }

  &:before {
    content: '';
    @include tools.absolute();
    background-color: currentColor;
    border-radius: inherit;
    opacity: .04;
    pointer-events: none;
  }

  &__wrap {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__title + &__content {
    margin-top: 8px;
  }
}




