@use '../../../styles/settings';

// positions
$card-positions: absolute fixed !default;

// color
$card-background: rgb(var(--v-theme-surface)) !default;
$card-color: rgb(var(--v-theme-on-surface)) !default;

// disabled
$card-disabled-background: settings.$disabled-background !default;
$card-disabled-color: settings.$disabled-color !default;

// border
$card-border-color: settings.$border-color !default;
$card-border-style: settings.$border-style !default;
$card-border-width: 0 !default;
$card-border-thin-width: thin !default;
$card-border-radius: settings.$border-radius !default;
$card-border: (
  $card-border-color,
  $card-border-style,
  $card-border-width,
  $card-border-thin-width
) !default;

// variant
$card-variant: (
  $card-background,
  $card-color
) !default;
