@use 'sass:map';
@use '../../../styles/settings';
@use '../../../styles/tools';

// position
$card-positions: absolute fixed !default;

// color
$card-background: rgb(var(--ve-theme-surface)) !default;
$card-color: rgb(var(--ve-theme-on-surface)) !default;

// title
$card-title-font-size: tools.map-deep-get(settings.$typography, 'h5', 'size') !default;
$card-title-font-weight: tools.map-deep-get(settings.$typography, 'h5', 'weight') !default;
$card-title-letter-spacing: tools.map-deep-get(settings.$typography, 'h5', 'letter-spacing') !default;
$card-title-line-height: tools.map-deep-get(settings.$typography, 'h5', 'line-height') !default;

// subtitle
$card-subtitle-font-size: tools.map-deep-get(settings.$typography, 'body-2', 'size') !default;
$card-subtitle-font-weight: tools.map-deep-get(settings.$typography, 'body-2', 'weight') !default;
$card-subtitle-letter-spacing: tools.map-deep-get(settings.$typography, 'body-2', 'letter-spacing') !default;
$card-subtitle-line-height: tools.map-deep-get(settings.$typography, 'body-2', 'line-height') !default;
$card-subtitle-opacity: var(--ve-medium-emphasis-opacity) !default;

// text
$card-text-font-size: tools.map-deep-get(settings.$typography, 'body-2', 'size') !default;
$card-text-font-weight: tools.map-deep-get(settings.$typography, 'body-2', 'weight') !default;
$card-text-letter-spacing: tools.map-deep-get(settings.$typography, 'body-2', 'letter-spacing') !default;
$card-text-line-height: tools.map-deep-get(settings.$typography, 'body-2', 'line-height') !default;

// disabled
$card-disabled-background: settings.$disabled-background !default;
$card-disabled-color: settings.$disabled-color !default;

// border
$card-border-color: settings.$border-color !default;
$card-border-style: settings.$border-style !default;
$card-border-width: 0 !default;
$card-border-thin-width: thin !default;
$card-border-radius: settings.$border-radius !default;

$card-material: () !default;
$card-material: tools.map-deep-merge(
    (
      'variants': (
        'contained': (
          'background': $card-background,
          'color': $card-color,
        ),
      ),
      'positions': $card-positions,
      'borders': (
        null: (
          'color': $card-border-color,
          'style': $card-border-style,
          'width': $card-border-width,
        ),
        '': (
          'width': $card-border-thin-width,
        )
      ),
      'shapes': (
        null: $card-border-radius,
      ),
    ),
    $card-material
);
