@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-card {
  position: relative;
  overflow: hidden;
  display: block;
  color: $card-color;
  text-decoration: none;
  @include tools.border($card-border...);
  @include tools.use-variant($card-variant...);
  @include tools.use-position($card-positions);
  @include tools.use-rounded($card-border-radius);

  &--link {
    cursor: pointer;
  }

  &--disabled {
    cursor: not-allowed;
    background-color: $card-disabled-background;
    color: $card-disabled-color;
  }

  &-title {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: $card-title-font-size;
    font-weight: $card-title-font-weight;
    hyphens: auto;
    letter-spacing: $card-title-letter-spacing;
    overflow-wrap: normal;
    text-transform: none;
    word-break: normal;
    word-wrap: break-word;
  }

  &-subtitle {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  &-text {
    font-size: $card-text-font-size;
    font-weight: $card-text-font-weight;
    letter-spacing: $card-text-letter-spacing;
    padding: 1rem;
    transition: inherit;
    transition-property: color, opacity;
  }

  &-actions {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    padding: 0.5rem 1rem;
  }
}