@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-card {
  position: relative;
  display: block;
  color: $card-color;
  text-decoration: none;
  @include tools.use-border($card-border...);
  @include tools.use-variant($card-variant...);
  @include tools.use-position($card-positions);
  @include tools.use-rounded($card-border-radius);

  &__overlay {
    @include tools.absolute();
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }

  &--link {
    cursor: pointer;
    @include tools.states('.ve-card__overlay', false);
  }

  &--hover {
    cursor: pointer;

    &::before,
    &::after {
      border-radius: inherit;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: inherit;
    }

    &::before {
      opacity: 1;
      z-index: -1;
      @include tools.elevation(1);
    }

    &::after {
      z-index: 1;
      opacity: 0;
      @include tools.elevation(8);
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      opacity: 0;
    }

    @include tools.elevation(0);
  }

  &--disabled {
    cursor: not-allowed;
    background-color: $card-disabled-background;
    color: $card-disabled-color;
  }

  &-image {
    border-radius: inherit;
    display: flex;
    overflow: hidden;
    @include tools.absolute();
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 20px;

    &-text {
      flex: 1 1 auto;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: $card-title-font-size;
    font-weight: $card-title-font-weight;
    letter-spacing: $card-title-letter-spacing;
    line-height: $card-title-line-height;
    hyphens: auto;
    overflow-wrap: normal;
    text-transform: none;
    word-break: normal;
    word-wrap: break-word;
  }

  &-subtitle {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: $card-subtitle-font-size;
    font-weight: $card-subtitle-font-weight;
    letter-spacing: $card-subtitle-letter-spacing;
    line-height: $card-subtitle-line-height;
    opacity: $card-subtitle-opacity;
  }

  &-title + &-subtitle {
    margin-top: 4px;
  }

  &-header &-title,
  &-header &-subtitle {
    padding: 0;
  }

  &-header + .ve-divider {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-avatar {
    align-self: center;
    padding: 0 20px;
  }

  &-header &-avatar:last-child {
    padding-inline-end: 0;
  }

  &-header &-avatar:first-child {
    padding-inline-start: 0;
  }

  &-text {
    font-size: $card-text-font-size;
    font-weight: $card-text-font-weight;
    letter-spacing: $card-text-letter-spacing;
    padding: 20px;
    transition: inherit;
    transition-property: color, opacity;
  }

  &-header + &-text,
  &-title + &-text {
    padding-top: 0;
  }

  &-actions {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    padding: 10px 20px;
  }
}