@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools' as *;

.ve-card {
  position: relative;
  overflow: hidden;
  display: block;
  color: $card-color;
  border-radius: $card-border-radius;
  text-decoration: none;
  @include border($card-border...);
  @include use-variant($card-variant...);
  @include position($card-positions);

  &--link {
    cursor: pointer;
  }

  &--disabled {
    cursor: not-allowed;
    background-color: $card-disabled-background;
    color: $card-disabled-color;
  }

  &-title {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    hyphens: auto;
    letter-spacing: .0125rem;
    overflow-wrap: normal;
    text-transform: none;
    word-break: normal;
    word-wrap: break-word;
  }

  &-subtitle {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  &-text {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: .0892857143rem;
    padding: 1rem;
    transition: inherit;
    transition-property: color, opacity;
  }

  &-actions {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    padding: 0.5rem 1rem;
  }
}