@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-material {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(80px + var(--ve-size, 0) * #{settings.$spacer * 2});
  height: calc(80px + var(--ve-size, 0) * #{settings.$spacer * 2});
  @include tools.use-material();
}