@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-drawer {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  background: $drawer-background;
  color: $drawer-color;
  height: $drawer-height;
  max-width: 100%;
  pointer-events: auto;
  transition-duration: 0.2s;
  transition-property: box-shadow, transform, visibility, width;
  transition-timing-function: settings.$standard-easing;
  will-change: $drawer-will-change;
  @include tools.use-border(('borders': $drawer-borders));

  &--start {
    top: 0;
    border-inline-end-width: $drawer-border-thin-width;
  }

  &--end {
    top: 0;
    border-inline-start-width: $drawer-border-thin-width;
  }

  &--bottom,
  &--top {
    left: 0;
  }

  &--temporary {
    @include tools.elevation(16);
  }

  &__wrapper {
    flex: 0 1 auto;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}




