@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-app-sider {
  -webkit-overflow-scrolling: touch;
  background: $app-sider-background;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  pointer-events: auto;
  top: 0;
  transition-duration: 0.2s;
  transition-property: box-shadow, transform, visibility, width;
  transition-timing-function: settings.$standard-easing;
  will-change: transform;
  position: fixed;
  @include tools.use-border(('borders': $app-sider-borders));

  &--start {
    border-inline-end-width: $app-sider-border-thin-width;
  }

  &--end {
    border-inline-start-width: $app-sider-border-thin-width;
  }

  &--temporary {
    @include tools.elevation(16);
  }

  &__wrap {
    flex: 0 1 auto;
    height: 100%;
    max-width: 100%;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    overflow-x: hidden;
    overflow-y: auto;

    &:hover {
      padding-inline-end: 2px;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 10px;
      background: transparent;
    }

    &:hover::-webkit-scrollbar {
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(var(--ve-theme-on-surface), var(--ve-hover-opacity)) content-box;
      border: 2px solid transparent;
      border-radius: 5px;

      &:hover {
        background: rgba(var(--ve-theme-on-surface), var(--ve-activated-opacity)) content-box;
      }
    }
  }
}




