@use '../../../styles/settings';

// border
$divider-border-color: settings.$border-color !default;
$divider-border-style: settings.$border-style !default;
$divider-border-width: 0 !default;
$divider-border: (
  $divider-border-color,
  $divider-border-style,
  $divider-border-width
) !default;
