@forward 'variables';
@use 'sass:math';
@use '../../../styles/tools';
@use '../../../styles/settings';
@use 'variables' as *;

// Blocks
.ve-input {
  $root: &;

  // Modifiers
  @at-root {
    @include tools.density('ve-form-control', (
      'ultra-high': -4,
      'high': -2,
      'medium': 0,
      'low': 2,
      'ultra-low': 4,
    )) using($modifier) {
      @at-root #{$root}--textarea & {
        --ve-input--textarea-line-height: #{1.75 + math.div($modifier * .125, settings.$spacer) * 1.5};
      }
    }
  }

  // Elements
  &__sizer {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 0 !important;
    pointer-events: none;
  }

  @at-root {
    // NativeControl
    .ve-native-control {
      #{$root} & {
        flex: 1 1 0;
        opacity: 1 !important;
        transition: .15s opacity settings.$standard-easing;
      }

      #{$root}--no-resize & {
        resize: none;
      }

      #{$root}--auto-grow & {
        overflow: hidden;
      }

      #{$root}--textarea & {
        align-self: stretch;
        outline: none;
        line-height: var(--ve-input--textarea-line-height, 1.75);
      }
    }

    // FormControlLabel
    .ve-form-control__label {
      #{$root}--textarea.ve-form-control--horizontal & {
        align-items: start;
        line-height: var(--ve-input--textarea-line-height, 1.75);
        padding-block-start: 6px;
      }
    }
  }
}
