@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-carousel {
  position: relative;
  overflow: hidden;
  @include tools.use-paper((
    'use-size': false,
    'use-density': false,
  ));

  &__controls {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}