@use 'sass:map';
@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-table-th {
  &--sortable {
    cursor: pointer;
    padding-inline-end: 28px !important;
    @include tools.states('.ve-table-cell__overlay', false);
  }

  &--sorted {
    @include tools.active-states('.ve-table-cell__overlay');
  }

  &__sorter {
    margin-inline-start: 8px;
    color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity));
    transition: transform .3s settings.$standard-easing;
    transform: rotate(0deg);

    &--desc {
      transform: rotate(180deg);
    }
  }

  &__filter {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity));
    height: 100%;
    border-radius: 0;
  }
}