@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-table {
  display: flex;
  flex-direction: column;

  &--fixed-header th {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  &--fixed-header &__body {
    overflow-y: auto;
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    min-height: 40px;
    overflow-y: hidden;
    overflow-x: auto;
    @include tools.use-material();
  }

  table {
    width: 100%;
    min-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  &__body--border th,
  &__body--border td, {
    border-bottom: 1px solid rgba(var(--ve-border-color), var(--ve-border-opacity));
  }

  &__body--border tr:last-child td {
    border-bottom-width: 0;
  }

  th:not(.ve-table-cell),
  td:not(.ve-table-cell) {
    line-height: 1.5715;
    padding: 8px 16px;
  }

  th {
    font-weight: 500;
    background: rgb(var(--ve-theme-secondary));
  }

  td {
    position: relative;
    word-break: break-all;
    background: rgb(var(--ve-theme-background));
  }

  tr:hover td {
    --ve-table-cell-overlay-opacity: .02;
  }

  &__pagination {
    margin-top: 12px;
    justify-content: end;
  }
}