@use '../../../styles/settings';
@use '../../../styles/tools';

// Blocks
.ve-table {
  $root: &;
  display: flex;
  flex-direction: column;

  // Elements
  &__table {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    min-height: 40px;
    overflow-x: auto;
    overflow-x: overlay;
    overflow-y: hidden;
    @include tools.use-paper();

    #{$root}--fixed-header & {
      overflow-y: auto;
      overflow-y: overlay;
    }

    // Modifiers
    &--border {
      th, td {
        border-bottom: thin solid rgba(var(--ve-border-color), var(--ve-border-opacity));
      }

      tr:last-child td {
        border-bottom-width: 0;
      }
    }

    // Elements
    table {
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      border-collapse: separate;
      border-spacing: 0;

      thead > tr {
        @include tools.active-states('> .ve-table-th--sorted::before');
      }

      tbody > tr {
        @include tools.states('> td::before', false);
        @include tools.active-states('> .ve-table-td--sorted::before');
      }
    }

    th {
      position: relative;
      font-weight: 500;
      background: rgb(var(--ve-theme-secondary));
      padding: 12px;
      white-space: nowrap;
      @include tools.overlay('&::before', 0, hidden, true);

      @at-root {
        #{$root}--fixed-header & {
          position: sticky !important;
          top: 0;
          z-index: 2;
        }
      }
    }

    td {
      position: relative;
      word-break: break-all;
      background: rgb(var(--ve-theme-background));
      padding: 12px;
      @include tools.overlay('&::before', 0, hidden, true);
    }
  }

  &__progress {
    > th {
      padding: 0 !important;
      border: 0 !important;
      z-index: 4;

      > .ve-progress {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__pagination {
    margin-top: 12px;
    overflow-x: auto;
    overflow-x: overlay;
    width: 100%;

    &:before {
      content: '';
      flex: 1 1 auto;
    }
  }
}

.ve-table-td {
  &--fixed-start,
  &--fixed-end {
    position: sticky !important;
    z-index: 1 !important;

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      bottom: -1px;
      width: 10px;
      pointer-events: none;
      transition: box-shadow .1s settings.$standard-easing;
    }
  }

  &--fixed-start {
    left: 0;

    &:after {
      right: 0;
      transform: translate(100%);
      box-shadow: inset 6px 0 8px -3px rgba(var(--ve-theme-on-surface), var(--ve-activated-opacity));

      .ve-table--scroll-position-center &,
      .ve-table--scroll-position-end & {
        display: block;
      }
    }
  }

  &--fixed-end {
    right: 0;

    &:after {
      left: 0;
      transform: translate(-100%);
      box-shadow: inset -6px 0 8px -3px rgba(var(--ve-theme-on-surface), var(--ve-activated-opacity));

      .ve-table--scroll-position-center &,
      .ve-table--scroll-position-start & {
        display: block;
      }
    }
  }
}