@use '../../../styles/settings';
@use '../../../styles/tools';

.ve-table-cell {
  &--fixed-start,
  &--fixed-end {
    position: sticky !important;

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      bottom: -1px;
      width: 10px;
      pointer-events: none;
      transition: box-shadow .1s settings.$standard-easing;
    }

    td#{&} {
      z-index: 1 !important;
    }

    th#{&} {
      z-index: 3 !important;
    }
  }

  &--fixed-start {
    left: 0;

    &:after {
      right: 0;
      transform: translate(100%);
      box-shadow: inset 6px 0 8px -3px rgba(var(--ve-theme-on-surface), var(--ve-activated-opacity));
    }
  }

  &--fixed-end {
    right: 0;

    &:after {
      left: 0;
      transform: translate(-100%);
      box-shadow: inset -6px 0 8px -3px rgba(var(--ve-theme-on-surface), var(--ve-activated-opacity));
    }
  }

  &__overlay {
    @include tools.absolute();
    background-color: rgb(var(--ve-theme-on-background));
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
  }

  // Table
  &--fixed-start:after {
    .ve-table--scroll-position-center &,
    .ve-table--scroll-position-end & {
      display: block;
    }
  }

  &--fixed-end:after {
    .ve-table--scroll-position-center &,
    .ve-table--scroll-position-start & {
      display: block;
    }
  }
}