.ve-input-wrapper {
  display: grid;
  flex: 1 1 auto;
  grid-template-areas: (
    "prepend control append"
    "a messages b"
  );
  grid-template-columns: max-content auto max-content;
  grid-template-rows: auto auto;

  &--disabled {
    pointer-events: none;

    &,
    input {
      color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity));
    }
  }

  input {
    color: rgba(var(--ve-theme-on-surface), var(--ve-high-emphasis-opacity));
  }

  &__prepend,
  &__append {
    display: flex;
    align-items: center;
    align-self: center;
  }

  &__prepend {
    margin-inline-end: 16px;
    grid-area: prepend;
  }

  &__append {
    margin-inline-start: 16px;
    grid-area: append;
  }
}