@use 'sass:map';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-progress {
  position: relative;
  vertical-align: middle;

  @include tools.use-size((
    'sizes': $progress-sizes,
  ));

  &--variant-circular {
    --ve-progress-circular-size: calc(#{$progress-circular-size} + var(--ve-progress-size-offset, 0px));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--ve-progress-circular-size);
    width: var(--ve-progress-circular-size);
  }

  .ve-progress-circular {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &--indeterminate:not(&--visible),
  &--indeterminate:not(&--visible) {
    animation-play-state: paused !important;
  }

  &--variant-linear {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .ve-progress-linear {
    flex: 1 0 auto;
  }

  .ve-progress-linear + &__wrap {
    min-width: 40px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}



