@use '../../../styles/tools';
@use '../../../styles/settings';

$button-group-border-style: settings.$border-style !default;
$button-group-border-color: settings.$border-color !default;
$button-group-border-thin-width: thin !default;