@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-button-group {
  --ve-size-offset: 0px;
  --ve-density-offset: 0px;
  --ve-default-height: 32px;
  --ve-height: calc(var(--ve-default-height) + var(--ve-size-offset) + var(--ve-density-offset));
  display: inline-flex;
  flex-wrap: nowrap;
  flex: 1 1;
  height: var(--ve-height);
  max-width: 100%;
  min-width: 0;
  @include tools.use-paper((
    'use-variant': false,
  ));

  .ve-button.ve-button--selected:not(.ve-button--disabled) {
    .ve-button__overlay {
      opacity: var(--ve-activated-opacity);
    }
  }

  .ve-button {
    border-radius: 0 !important;

    &:first-child {
      border-top-left-radius: inherit !important;
      border-bottom-left-radius: inherit !important;
    }

    &:last-child {
      border-top-right-radius: inherit !important;
      border-bottom-right-radius: inherit !important;
    }

    &:not(:last-child) {
      border-right: none;
    }

    &:not(:first-child) {
      border-left: none;
    }
  }

  &--divided {
    .ve-button:not(:last-child) {
      border-right-width: thin;
      border-right-style: settings.$border-style;
      border-right-color: settings.$border-color;
    }
  }

  &--divided#{&}--variant-outlined,
  &--divided#{&}--variant-contained-outlined {
    .ve-button:not(:last-child) {
      border-right: inherit;
    }
  }
}