.ve-form-item {
  display: grid;
  grid-template-areas: "prepend control append" "a details b";
  grid-template-columns: max-content auto max-content;
  grid-template-rows: auto auto;

  &--disabled {
    pointer-events: none;

    &,
    input {
      color: rgba(var(--ve-theme-on-surface), var(--ve-disabled-opacity));
    }
  }

  &__label {
    text-align: end;
  }

  &__prepend,
  &__append,
  &__control {
    display: flex;
    align-items: center;
    align-self: center;
  }

  &--label &__prepend {
    white-space: nowrap;
    justify-content: end;
  }

  &__prepend {
    margin-inline-end: 16px;
    grid-area: prepend;
  }

  &__control {
    grid-area: control;
  }

  &__append {
    margin-inline-start: 16px;
    grid-area: append;
  }

  &__details {
    align-items: flex-end;
    display: flex;
    font-size: .75rem;
    font-weight: 400;
    grid-area: details;
    letter-spacing: .0333333333em;
    line-height: normal;
    min-height: 22px;
    padding-top: 6px;
    overflow: hidden;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    justify-content: space-between;
  }
}