@use '../../../styles/settings';

// border
$header-border-color: settings.$border-color !default;
$header-border-radius: map-get(settings.$rounded, '0') !default;
$header-border-style: settings.$border-style !default;
$header-border-width: 0 !default;
$header-border-thin-width: 0 0 thin !default;
$header-borders: (
  'default': (
    'color':$header-border-color,
    'style':$header-border-style,
    'width': $header-border-width,
  ),
  'existence': (
    'width': $header-border-thin-width,
  )
) !default;