@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-header-title {
  font-size: tools.map-deep-get(settings.$typography, 'h5', 'size');
  padding: 6px 20px;

  &__wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}




