@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

// Blocks
.ve-card {
  $root: &;
  // CSS Variables
  // --ve-card---padding-y 12px
  // --ve-card---padding-x 12px
  display: block;
  color: rgb(var(--ve-theme-on-surface));
  position: relative;
  text-decoration: none;
  @include tools.use-paper($card-paper);
  @include tools.overlay(#{&}__overlay);

  // Modifiers
  &--link {
    cursor: pointer;
    @include tools.states(#{$root}__overlay, false);
  }

  &--hover {
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      display: block;
      border-radius: inherit;
      pointer-events: none;
      transition: inherit;
    }

    &::before {
      opacity: 1;
      z-index: -1;
      @include tools.elevation(1);
    }

    &::after {
      z-index: 1;
      opacity: 0;
      @include tools.elevation(8);
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      opacity: 0;
    }
  }

  &--disabled {
    cursor: not-allowed;
    background-color: settings.$disabled-background;
    color: settings.$disabled-color;
  }
}