@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-card-subtitle {
  // CSS Variables
  // --ve-card-subtitle---padding-x var(--ve-card---padding-x, 12px)
  --ve-padding-x: var(--ve-card-subtitle---padding-x, var(--ve-card---padding-x, 12px));
  align-items: center;
  display: flex;
  font-size: tools.map-deep-get(settings.$typography, 'body-2', 'size');
  font-weight: tools.map-deep-get(settings.$typography, 'body-2', 'weight');
  letter-spacing: tools.map-deep-get(settings.$typography, 'body-2', 'letter-spacing');
  line-height: tools.map-deep-get(settings.$typography, 'body-2', 'line-height');
  opacity: var(--ve-medium-emphasis-opacity);
  padding: 0 var(--ve-padding-x);

  // Header
  .ve-card-header & {
    padding: 0;
  }

  // Title
  .ve-card-title + & {
    margin-top: 4px;
  }
}