@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';
@use '../../../styles/settings';

.ve-card {
  $root: &;
  position: relative;
  display: block;
  color: $card-color;
  text-decoration: none;
  @include tools.use-paper($card-paper);
  @include tools.overlay(#{&}__overlay);

  &--link {
    cursor: pointer;
    @include tools.states(#{$root}__overlay, false);
  }

  &--hover {
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      display: block;
      border-radius: inherit;
      pointer-events: none;
      transition: inherit;
    }

    &::before {
      opacity: 1;
      z-index: -1;
      @include tools.elevation(1);
    }

    &::after {
      z-index: 1;
      opacity: 0;
      @include tools.elevation(8);
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover::before {
      opacity: 0;
    }
  }

  &--disabled {
    cursor: not-allowed;
    background-color: $card-disabled-background;
    color: $card-disabled-color;
  }

  &-image {
    border-radius: inherit;
    display: flex;
    overflow: hidden;
    @include tools.absolute();
  }

  &-header {
    display: flex;
    padding: $card-header-padding;

    &-text {
      flex: 1 1 auto;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    padding: $card-title-padding;
    font-size: $card-title-font-size;
    font-weight: $card-title-font-weight;
    letter-spacing: $card-title-letter-spacing;
    line-height: $card-title-line-height;
    hyphens: auto;
    overflow-wrap: normal;
    text-transform: none;
    word-break: normal;
    word-wrap: break-word;
  }

  &-subtitle {
    display: flex;
    align-items: center;
    padding: $card-subtitle-padding;
    font-size: $card-subtitle-font-size;
    font-weight: $card-subtitle-font-weight;
    letter-spacing: $card-subtitle-letter-spacing;
    line-height: $card-subtitle-line-height;
    opacity: $card-subtitle-opacity;
  }

  &-title + &-subtitle {
    margin-top: 4px;
  }

  &-header &-title,
  &-header &-subtitle {
    padding: 0;
  }

  &-header + .ve-divider {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-avatar {
    display: inline-flex;
    margin: 0 8px;
  }

  &-header &-avatar:last-child {
    margin-inline-end: 0;
  }

  &-header &-avatar:first-child {
    margin-inline-start: 0;
  }

  &-text {
    padding: $card-text-padding;
    font-size: $card-text-font-size;
    font-weight: $card-text-font-weight;
    letter-spacing: $card-text-letter-spacing;
    transition: inherit;
    transition-property: color, opacity;
  }

  &-header + &-text,
  &-title + &-text {
    padding-top: 0;
  }

  &-actions {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    padding: $card-actions-padding;
  }
}