@use '../../../styles/theme' as *;

$list-item-border-color: $border-color !default;
$list-item-border-radius: $border-radius !default;
$list-item-border-style: $border-style !default;
$list-item-border-width: 0 !default;
$list-item-border-thin-width: thin !default;
$list-item-border: (
  $list-item-border-color,
  $list-item-border-style,
  $list-item-border-width,
  $list-item-border-thin-width
) !default;


$list-background: rgba(var(--v-theme-surface)) !default;
$list-color: rgba(var(--v-theme-on-surface)) !default;

$list-item-variants: (
  $list-background,
  $list-color
);