@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list-item {
  align-items: center;
  display: flex;
  padding: 8px 16px;
  position: relative;
  outline: none;
  text-decoration: none;

  @include tools.states(#{&}__overlay);
  @include tools.use-border($list-item-border...);
  @include tools.use-rounded($list-item-border-radius);
  @include tools.use-variant($list-item-variants...);

  &__overlay {
    @include tools.absolute();
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
  }

  &--link {
    cursor: pointer;
  }
}