@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list-item {
  align-items: center;
  display: flex;
  padding: 8px 16px;
  position: relative;
  outline: none;
  text-decoration: none;
  @include tools.use-material($list-item-material);
  @include tools.states(#{&}__overlay);

  $root: &;
  @at-root {
    @include tools.density('ve-list') using($modifier) {
      #{$root} {
        min-height: 48px + $modifier;
        padding: (8px + $modifier) 16px;
      }
    }
  }

  &--link {
    cursor: pointer;
  }

  &__overlay {
    @include tools.absolute();
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
  }

  // nav
  .ve-list--nav & {
    border-radius: $list-item-nav-border-radius;
  }
}

.ve-list-group__items {
  .ve-list-item:not(.ve-list-item--prepend) {
    padding-inline-start: calc(16px + (var(--ve-list-depth) * 16px)) !important;
  }
}