@forward 'variables';
@use 'variables' as *;
@use '../../../styles/tools';

.ve-list-item-title {
  hyphens: auto;
  overflow-wrap: normal;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  word-wrap: break-word;
  @include tools.typography($list-item-title-typography...);

  .ve-list--nav & {
    @include tools.typography($list-item-nav-title-typography...);
  }
}