@forward 'variables';
@use 'variables' as *;

.ve-list-item {
  align-items: center;
  display: flex;
  padding: 8px 16px;
  position: relative;
  outline: none;
  text-decoration: none;
}

.v-list-item-title {
  hyphens: auto;
  overflow-wrap: normal;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  word-wrap: break-word;
}