@forward 'variables';
@use 'variables' as *;

.ve-list-item-subtitle {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  opacity: var(--v-medium-emphasis-opacity);
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
}